[2020-03-03 21:48] ACharbonneau opened #2 "Initial intake/concept PO interviews"
milestone for https://github.com/nih-cfde/cfde-deriva/issues/10

[2020-03-03 21:52] ACharbonneau opened #3 "Discuss questions/Interview plans for Dashboard PO interface tests"
Milestone for https://github.com/nih-cfde/cfde-deriva/issues/10

[2020-03-03 21:54] ACharbonneau opened #4 "IG formal interviews with POs"
Milestone for https://github.com/nih-cfde/cfde-deriva/issues/10

- [x] Double check IG times/dates
- [x] Book ~8 POs
- [x] Confirm 'exit interviewers'
- [x] Distribute watch information
- [x] Distribute recordings/reports

[2020-03-03 22:01] ACharbonneau opened #5 "Initial intake/concept Researcher interviews"
Milestone for https://github.com/nih-cfde/cfde-deriva/issues/9

- [ ] Confirm IG date/time openings
- [ ] Determine number interviewees
- [ ] Identify end users
- [ ] Book X interviewees

[2020-03-03 22:02] ACharbonneau opened #6 "Discuss questions/Interview plans for Portal Researcher interface tests"
Milestone for https://github.com/nih-cfde/cfde-deriva/issues/9

- [ ] Need to set up meeting with Interface Guru after #5

[2020-03-03 22:05] ACharbonneau opened #7 "IG formal interviews with Researchers"
Milestone for https://github.com/nih-cfde/cfde-deriva/issues/9

- [ ] Double check IG times/dates
- [ ] Determine number of interviewees
- [ ] Book X interviewees
- [ ] Confirm 'exit interviewers'
- [ ] Distribute watch information
- [ ] Distribute recordings/reports

[2020-03-03 22:07] ACharbonneau opened #8 "Space for May 2020 Cross Pollination"
RE: https://github.com/nih-cfde/deliverables/issues/95

[2020-03-03 22:08] ACharbonneau opened #9 "Space for September 2020 Cross Pollination"
https://github.com/nih-cfde/deliverables/issues/96

[2020-03-03 22:08] ACharbonneau opened #10 "Agenda for May 2020 Cross Pollination"
Re: https://github.com/nih-cfde/deliverables/issues/95

[2020-03-03 22:09] ACharbonneau opened #11 "Agenda for September 2020 Cross Pollination"
Re: https://github.com/nih-cfde/deliverables/issues/96

[2020-03-03 22:12] ACharbonneau opened #12 "Suggested FTE for DCC/CFDE-CC interactions"
We need a 2-3 paragraph rough description of what is involved in the C2M2, and how much time/energy/money we expect a DCC will need to devote to it. They need these estimates in time for submitting their Detailed Engagement Plans on 3/16

[2020-03-03 22:17] ACharbonneau opened #13 "Dashboard and Portal Initial Use Case-Requirements Mapping"
Re: https://github.com/nih-cfde/deliverables/issues/91

Make sure the initial [use cases we've chosen](https://docs.google.com/spreadsheets/d/1yFQm5nYGkboUf7Ke2_l2cCKYBsujRGaEG1JXmq4-Tio/edit#gid=0) map to the [requirements we've written](https://docs.google.com/spreadsheets/d/19JLmm9LNqaDQU8hgryqHob2RXHgD8-B4QX2v6hQCydE/edit)

[2020-03-03 22:22] ACharbonneau opened #14 "Kids First Training materials"
https://github.com/nih-cfde/deliverables/issues/81

Aiming to have a training event for Kids First portal/data sometime in 1st quarter

**Materials are due to NIH on March 27, 2020**

[2020-03-03 22:29] ACharbonneau opened #15 "Alpha testing of KF materials"
- [ ] Identify UC Davis med students and/or advertise
- [ ] Choose Date
- [ ] Try to reserve Phil
- [ ] Try to reserve a KF person who can answer questions/troubleshoot
- [ ] Reserve @ctb
- [ ] Reserve a room
- [ ] Get helpers
- [ ] Purchase snacks

[2020-03-05 15:07] ACharbonneau opened #16 "Site Visits Overview"
Ongoing info for
- https://github.com/nih-cfde/deliverables/issues/77
- https://github.com/nih-cfde/deliverables/issues/78
- https://github.com/nih-cfde/deliverables/issues/79
- https://github.com/nih-cfde/deliverables/issues/82

Per Lora, we're prioritizing visiting at least one DCC for each Program over visiting 2nd, 3rd DCCs at Programs we've visited once already. Need to try to visit:

- A2CPS

[2020-03-05 15:08] ACharbonneau opened #17 "Site Visit A2CPS"
- Reached out 2-20-20: Visit should happen at TACC

[2020-03-05 15:55] ACharbonneau opened #18 "Update the training plan"
Re: https://github.com/nih-cfde/deliverables/issues/83

Need to revise: https://github.com/nih-cfde/training-and-engagement/blob/master/TrainingPlanV1.md

Due March 27, 2020

[2020-03-05 16:34] ACharbonneau opened #19 "Write a training evaluation plan"
Re: https://github.com/nih-cfde/deliverables/issues/86

We need to propose a way to evaluate our training.

Due end of May

[2020-03-05 16:39] ACharbonneau opened #20 "Communication strategy"
Re: https://github.com/nih-cfde/deliverables/issues/87

We need to make a communication strategy. Due end of June.

We have a draft one from 2019 to use as a starting point

[2020-03-05 16:43] ACharbonneau opened #21 "bioinformatics- training materials posted"
Re: https://github.com/nih-cfde/deliverables/issues/88

Note this also includes @kloydrti posting them to the website

Due end of July

We discussed doing this as an add on day/days to ANGUS.

[2020-03-05 16:49] ACharbonneau opened #22 "DCC specific training materials I"
Re: https://github.com/nih-cfde/deliverables/issues/89

We don't yet know what DCC these materials will be for.

I'm open to doing Metabolomics, but this could also be a project for the new postdoc(s). Note theres another one of these for December, so there's lots of room for everyone to do lots of materials :)

Due end of October

[2020-03-05 16:51] ACharbonneau opened #23 "DCC-based training materials posted II"
Re: https://github.com/nih-cfde/deliverables/issues/90

We don't yet know what DCC these materials will be for.

I'm open to doing Metabolomics, but this could also be a project for the new postdoc(s). Note theres also one of these in October, so there's lots of room for everyone to do lots of materials :)

Due end of December

[2020-03-05 19:09] ACharbonneau opened #24 "updated training plan II (with DCC inputs)"
Re: https://github.com/nih-cfde/deliverables/issues/92

Will need to update #18 based on DCC involvement. Due late October

[2020-03-05 20:20] ACharbonneau opened #25 "Site Visit UDN"

[2020-03-05 20:20] ACharbonneau opened #26 "Site Visit KOMP"

[2020-03-05 20:21] ACharbonneau opened #27 "Site Visit ExRNA"

[2020-03-05 20:21] ACharbonneau opened #28 "Site Visit IDG"

[2020-03-05 20:43] ACharbonneau opened #29 "Assessment of Cavatica/Terra capabilities"
https://github.com/nih-cfde/deliverables/issues/97

To some extent, this is dependent on data access

[2020-03-05 20:50] ACharbonneau opened #30 "Quarterly Engagement Report I"
1 in series of 4

Report on past 3 months, include relevant #16

[2020-03-05 20:50] ACharbonneau opened #31 "Quarterly Engagement Report II"
2 in series of 4

Report on past 3 months, include relevant #16

[2020-03-05 20:51] ACharbonneau opened #32 "Quarterly Engagement Report III"
3 in series of 4

Report on past 3 months, include relevant #16

[2020-03-05 20:52] ACharbonneau opened #33 "Quarterly Engagement Report IV"
1 in series of 4

Report on past 3 months, include relevant #16

[2020-03-05 20:57] ACharbonneau opened #34 "Kids First Training materials"
https://github.com/nih-cfde/deliverables/issues/81

[2020-03-05 20:59] #34 closed, assigned to nobody

[2020-03-13 20:07] #12 closed, assigned to owhite

[2020-03-13 20:19] ACharbonneau opened #35 "Cross-Pollination Overview"
top-level summary of cross pollinations.

**May** https://github.com/nih-cfde/deliverables/issues/95
- #8
- #10
- https://github.com/nih-cfde/risks/issues/9

**September** https://github.com/nih-cfde/deliverables/issues/96
- #9
- #11

[2020-03-24 17:47] #8 closed, assigned to nobody

[2020-03-24 17:47] #10 closed, assigned to nobody

[2020-03-24 19:30] #13 closed, assigned to ACharbonneau

[2020-04-08 17:45] #30 closed, assigned to ctb, ACharbonneau, alicia-gingrich

[2020-04-08 17:45] #31 closed, assigned to nobody

[2020-04-08 17:45] #32 closed, assigned to nobody

[2020-04-08 17:45] #33 closed, assigned to nobody

[2020-04-14 13:06] ACharbonneau opened #38 "FAIRshake documentation"
The Ma'ayan team has been producing all sorts of FAIR metrics and has made several tools/scripts for doing the assessment. There is a repo here: https://github.com/nih-cfde/FAIR
and some of the results here: https://fairshake.cloud/project/87/

What I haven't been able to find is documentation that would help a DCC understand their rating, or how it came to be. Within FAIRshake, with enough clicki

[2020-04-20 12:27] swandle06 commented on #38
Just to update a little further, the documentation we developed last December is here:  https://docs.google.com/document/d/1i3DUYGve8Ff0H8qcLR3wjp3-vOOocXt1-rH1S1oPLT8/edit?folder=1Ur-btky6Gu2ZP-WIUl8jCdFfyWk2F-zQ#heading=h.46zx3yjsmmsh. Based on the recent communications on Slack, we're planning to merge this effort with the ongoing efforts here:  https://github.com/nih-cfde/the-fair-cookbook. We

[2020-04-22 14:03] #18 closed

[2020-04-22 17:05] ACharbonneau commented on #3
met with IG on 4/15 to go over potential questions. They are revising and scheduling a next meeting, then @nih-cfde/coordinators can begin to schedule PO participants. Need ~8 POs for ~1hr each

[2020-04-22 17:24] ACharbonneau commented on #15
This will likely have to be pushed even further due to pandemic, or moved to online.

[2020-04-22 17:26] ACharbonneau commented on #14
This was submitted as a deliverable, but is still being updated. I have a ticket in with Cavatica to resolve an issue with data transfer. I can't finish the last bit of this lesson without it being resolved.

[2020-04-22 17:28] ACharbonneau commented on #17
Lora reached out to their PO. We think they're not responding due to pandemic issues, but PO did not have much insight. Need to regroup and start contacting other DCCs

[2020-04-22 20:24] ACharbonneau commented on #14
Consider moving page 4 to page 2. so, taking a break from setup instructions to look at the dashboard. could be less fatiguing, but also might annoy people to have to go back to set up when they thought they finished :/

[2020-04-23 21:18] ACharbonneau commented on #14
1. this is taking forever, because there's so much to write out
2. i think i might hate this format. Probably need to break up all the lesson pages into individual pages that are shorter

[2020-04-24 17:37] ACharbonneau opened #42 "LINCS training materials"
LINCS already has materials for a graduate-level course called “Data Science with LINCS Data” that they would like to offer publicly. Each lecture has a Jupyter notebook, PowerPoint slides and lecture notes. However, these resources need some work to be offered as a MOOC.

Basic Process:
-  @nih-cfde/lincs will send us the materials they have (via @sherry-jenkins)
- one or more members of @nih-cfd

[2020-04-24 17:50] AviMaayan commented on #42
This sounds like a great plan. Thank you @ACharbonneau!

[2020-04-30 18:26] ACharbonneau commented on #14
last couple pages are stalled due to https://github.com/nih-cfde/risks/issues/11

[2020-05-01 20:28] #35 closed

[2020-05-01 20:29] ACharbonneau commented on #38
https://github.com/nih-cfde/deliverables/issues/69

[2020-05-04 17:53] dcfcjcheadle commented on #38
The FAIRshake rubric document, which was created to address this request, has been converted to markdown and added to the FAIR Cookbook repo.  @ACharbonneau, is it reasonable to close this issue and document any cookbook content additions in nih-cfde/deliverables#69?

[2020-05-04 20:12] #14 closed

[2020-05-04 20:12] ACharbonneau opened #43 "Update and fix Kids First Training materials"
An initial set of materials was delivered in https://github.com/nih-cfde/training-and-engagement/issues/14

However, the final stages of the materials are in dis-repair and don't/can't work because of https://github.com/nih-cfde/risks/issues/11

I'm closing that issue and starting this one for updating purposes.

Will next be part of https://github.com/nih-cfde/deliverables/issues/89

[2020-05-04 20:12] ACharbonneau commented on #43
Ideas for changes to current material: Consider moving page [5](https://cfde-training.readthedocs.io/en/latest/KF_5_Explore.html) to after page [2](https://cfde-training.readthedocs.io/en/latest/KF_2_Registration.html). so, taking a break from setup instructions to look at the dashboard. could be less fatiguing, but also might annoy people to have to go back to set up when they thought they finish

[2020-05-04 20:14] #22 closed

[2020-05-04 20:16] ACharbonneau commented on #15
Will re-evaluate once https://github.com/nih-cfde/risks/issues/11 is resolved

[2020-05-04 20:16] #15 closed

[2020-05-04 20:19] ACharbonneau commented on #24
reorging

[2020-05-04 20:19] #24 closed

[2020-05-04 20:20] ACharbonneau commented on #23
reorging

[2020-05-04 20:20] #23 closed

[2020-05-04 20:20] ACharbonneau commented on #21
reorging

[2020-05-04 20:20] #21 closed

[2020-05-04 20:20] ACharbonneau commented on #19
reorging

[2020-05-04 20:20] #19 closed

[2020-05-04 20:22] ACharbonneau commented on #29
reorging

[2020-05-04 20:22] #29 closed

[2020-05-04 20:26] ACharbonneau commented on #4
Meeting was scheduled 4/29. Got cancelled. Waiting for re-schedule

[2020-05-04 20:27] ACharbonneau commented on #6
Had initial meeting, waiting on IG to see finalized questions. Meeting for 4/29 was cancelled, not yet rescheduled

[2020-05-04 20:38] ACharbonneau opened #44 "Kids First alternative training"
Continue the lesson (https://cfde-training.readthedocs.io/en/latest/) further downstream by working with data that already lives on Cavatica to teach WGS and RNASeq

https://github.com/nih-cfde/deliverables/issues/89

[2020-05-04 20:53] ACharbonneau opened #45 "Some formatting foo for the training site"
[This requires a bit of css knowledge](https://github.com/nih-cfde/training-and-engagement/blob/master/docs/source/_static/my-styles.css), or [possibly html knowledge](https://github.com/nih-cfde/training-and-engagement/blob/master/docs/source/_templates/layout.html):

updated color palette for admonitions:
- prereqs different from learningobjectives different from exercise different from tips dif

[2020-05-05 16:18] ACharbonneau commented on #38
I haven't been following the fair cookbook stuff, but my main concern would be whether it actually is filling the role I'm looking for here. My (perhaps wrong) belief about the cookbook is that it is about how to do things...how to do an assessment, how to run a thing...so instructions, like a standard cookbook.

What I am looking for here is a guide for people who want to understand FAIRshake, no

[2020-05-05 21:30] u8sand commented on #38
@ACharbonneau to what extent might [this recently made cookbook](https://github.com/nih-cfde/the-fair-cookbook/blob/c1da35789e7aff4a89ec27fa41c05cc222c26738/content/recipes/04/fairshake.md) address what it is that you're looking for?

[2020-05-05 21:35] AviMaayan commented on #38
There is also the paper: https://www.cell.com/cell-systems/fulltext/S2405-4712(19)30345-X

[2020-05-08 17:28] ACharbonneau opened #46 "Virtual meeting for New DCC Onboarding"
I think we're planning both a virtual Cross pollination for later this year, and a virtual meeting for just the new DCC awardees once they're funded.

Timelines for both are contingent on https://github.com/nih-cfde/risks/issues/2, and they might get combined, but for the purposes of this issue, we're talking ONLY about DCCs with funding, and assuming it is separate from a Cross Pollination.

This

[2020-05-08 17:29] ACharbonneau commented on #46
Work in progress doc for how to build a workplan: https://docs.google.com/document/d/1zfsFSoBqWFbQKlszWqHq3redXwhv7UUHyGEGvS7j4TQ/edit#heading=h.owlhugit6szb

Work in progress CFDE on boarding site: https://github.com/nih-cfde/welcome-to-cfde

[2020-05-08 17:33] ACharbonneau commented on #46
Open questions:

- When do we want to have it?
     - As soon as awards start?
     - Before workplans?
     - After workplans?
- Whats the agenda?
     - What do we need to cover in this meeting?
     - How long will those things take?
- Who needs to come?
    - Just PIs? POs? Everyone on the award?
    - Lora? Betsy?
- What's the format?
    - Is this a CFDE-CC talks at you webinar? Or a discuss

[2020-05-13 17:54] abhijna commented on #42
Hi @sherry-jenkins I have time to start reviewing materials if you send them. Please put them here: [LINCS MOOC google drive](https://drive.google.com/drive/u/1/folders/1W8UEY9D05i6-k3VIxvrXLweVZmqty4ao) or post links here :)

[2020-05-13 18:03] sherry-jenkins commented on #42
Thank you @abhijna - we will start organizing this on our end

[2020-05-20 19:23] ACharbonneau commented on #46
We think we're going to do these one on one, as dccs onboard

[2020-05-20 19:25] ACharbonneau commented on #17
@kutkatl heard from Ari. I've responded to that email looking for dates. Will follow up in ~a week if I haven't heard back

[2020-05-20 19:25] ACharbonneau commented on #4
IG: `June 3 - 5 or June 10 - 12 as test dates for the Program Officers. After that, we’d not be available again for testing until July 1 - 3. Time slots for the eight users would be: 9amPT (12pmET), 11amPT (2pmET), and 1pm PT (4pmET) regardless.`

[2020-05-20 19:26] ACharbonneau commented on #3
This must have happened? Got an email that questions were finalized. Not sure when that happened.

[2020-05-26 23:23] ACharbonneau commented on #45
Colors fixed. at least for now. The CFDE color scheme might be changing from the blue/purple thing, so might need to be updated again.

[2020-05-26 23:34] ACharbonneau commented on #45
For the forward and back buttons, and honestly a lot of the site, this was "Amanda's first foray into trying to build a site from scratch." And it is janky. I'm starting to get an idea of which things I need to fix to make it work well, but I also don't have as much time to spend on it as I did a few weeks ago. One quick fix would be finding a template that has all the features we need, but that i

[2020-05-26 23:53] abhijna commented on #45
Cool, I can try to find a template for this. Just to clarify, is template the same as "theme"? Like one of these: https://sphinx-themes.org/

[2020-05-27 12:15] ACharbonneau commented on #45
yep. we're rendering through readthedocs with sphinx. Anything that says it's a theme for either of those should work

[2020-05-27 17:18] ACharbonneau commented on #43
Risk #11 has been resolved. We should be able to finish writing this tutorial now. I won't have time for a bit, but will come back to it if no one else picks it up.

[2020-05-28 15:41] ACharbonneau opened #52 "Set up an orientation meeting"
We need to set up a meeting for CFDE-CC to present to our new oversight committee. @kutkatl is getting me the list of people who would attend. @nih-cfde/coordinators We need to:

- [ ] Come up with an agenda (with @owhite)
- [x] pick a time
- [ ] invites and meeting setup

[2020-05-28 16:08] josesanchez1815 commented on #52
@ACharbonneau  what is the goal of this meeting? What kind of agenda are we moving towards?

[2020-05-29 20:43] ACharbonneau opened #53 "Get new content actually rendering in website"
Re: [this PR](https://github.com/nih-cfde/training-and-engagement/pull/51)

When people are checking PRs for this (and any other website repo) we need to be sure we're checking not just the changes, but whether they are properly formatted for the website. In this case, the new content isn't rendering, and needs to get fixed

[2020-05-29 21:02] abhijna commented on #53
I'm working on multiple aspects of this website. They will all get fixed in the same PR.

[2020-06-01 19:41] ACharbonneau commented on #17
We are in the middle of choosing dates/times. Should have one by the end of the week. @josesanchez1815 is scheduling

[2020-06-01 19:55] ACharbonneau commented on #52
Going to have @josesanchez1815 handle scheduling of this one. Just waiting on confirmed invite list.

[2020-06-01 20:12] owhite commented on #52
Oversight committee agenda:

**Purpose of meeting**

- Summary, timeline, findings from outreach activities
- Project management components
- Use-cases, requirements
- Federation approach
- CFDE portal / dashboard review
- Coordination with GA4GH interoperation

[2020-06-01 20:18] ACharbonneau commented on #4
so far have 2 scheduled. Sent out email with new dates today

[2020-06-01 20:44] jeremywalter commented on #4
**Confirmed with PO and Zoe**
Name | Date | Time
--- | --- | ---
Lora | June 3 | 4pm
Sean Hanlon | June 5 | 2pm
-- | June 11 | 2pm
-- | June 11 | 4pm
-- | June 12 | 2pm
-- | June 12 | 4pm

[2020-06-01 22:57] josesanchez1815 commented on #52
# Orientation Meeting
**_June 12th, 2020 8AM - 11AM_**
Owen White
Titus Brown
Ari Khan
Martin Lindquist
James Carson

[2020-06-01 23:02] josesanchez1815 commented on #17
# Orientation Meeting
**_June 12th, 2020 8AM - 11AM_** via Zoom Meetings
Owen White
Titus Brown
Ari Khan
Martin Lindquist
James Carson
Amanda Charbonneau

[2020-06-02 08:56] RebeccaBoyles opened #55 "2020 Outreach to DCCs"
Sent the below template to DCCs.

Having completed the initial cross-pollination meeting and as you are preparing to ramp up your CFDE engagement, the CFDE engagement team would like to reconnect with your program and identify areas where we can provide custom support and assist you with your CFDE integration activities. As your point of contact with the engagement team, I would like to identify a

[2020-06-02 09:00] RebeccaBoyles opened #56 "Create DCC Communications Log"
Create log of contacts and activites here: https://docs.google.com/spreadsheets/d/1M6iLKBZYxawpE4n8pITFOgiQURlY8r9X5yTFqlpdUd4/edit?usp=drive_web&ouid=108192684741573654994

[2020-06-02 12:16] dcfcjcheadle commented on #56
Documented initial contact on **29 MAY 2020** and added additional points of contact from the LINCS team.

[2020-06-02 12:36] dcfcjcheadle commented on #55
[FAIRshake presentation to DCCs located here](https://docs.google.com/presentation/d/17uE2hOsgpZ4junPZrQbwt5vt4m2e7qTgPnB_8CEQRuY/edit#slide=id.p4).  **Created 29 MAY 2020**, will be updated as necessary.

[2020-06-02 12:59] ctb commented on #17
is this EST or PST?

[2020-06-02 13:00] ctb commented on #17
Ahh! I see from the e-mail it's PDT.

[2020-06-02 13:01] ACharbonneau commented on #55
Hey all! A couple requests:

1. Could you CC me when you send it things like this so I can make sure I'm not trying to coordinate things with the same people at the same times

2. It would be great if you could clarify that you guys are point of contact for them to ask questions about those four areas. Currently it reads that you're the main point of contact for all engagement with them, and that'

[2020-06-02 14:37] ACharbonneau commented on #17
wait. That wasn't even an option in the poll??

[2020-06-02 14:37] ACharbonneau commented on #17
@josesanchez1815 where did 8-11 come from?

[2020-06-02 15:21] ACharbonneau commented on #17
Super weird. What time zone does doodle say you are in?

mine says:
![image](https://user-images.githubusercontent.com/1719360/83537809-0fdde600-a4c3-11ea-8dd3-4189c08594f2.png)
for eastern time. But that should make yours 7am.

[2020-06-02 15:22] ACharbonneau commented on #17
I wonder if theres a daylight savings issue

[2020-06-02 15:26] josesanchez1815 commented on #17
The Doodle says LA TIme for me

[2020-06-02 15:30] josesanchez1815 commented on #17
Ok, well it looks like I will have to double check these times with @ACharbonneau  as well if we use doodle like this in the future.

[2020-06-02 15:31] #53 closed

[2020-06-02 15:31] #45 closed

[2020-06-02 15:34] ACharbonneau commented on #17
OK, I think I figured out the problem. It was putting in *my* timezone wrong. It had me in GMT-5 instead of GTM-4...they're both EST, just depends on whether you day light savings or not. That is SUPER annoying. The good news is that I can do the later time that day, so I'm fine with the invite you sent. Could you message @owhite and double check that he can make it though? that was outside his ti

[2020-06-02 15:54] josesanchez1815 commented on #17
@ACharbonneau  Owen confirmed he is available 8am-11am PST (11am-2pm EST).

[2020-06-02 15:56] ACharbonneau commented on #17
yay!

[2020-06-03 15:36] ACharbonneau commented on #52
@josesanchez1815 Can you find out when Owen is available next week for this meeting. It's best to ask Danay. Ask for 1-2 hour blocks he has open.

[2020-06-03 16:55] josesanchez1815 commented on #52
Just sent an e-mail to Danay. Waiting for her response.

[2020-06-03 17:06] ACharbonneau commented on #52
@josesanchez1815 Please
- check with Titus on whether he'd like to attend this meeting
- Then, assuming he does, when you get the times from Danay, cross check them and make a list of the ones they can both do.
- Please check with me after that, so I can make sure the suggested times fit my schedule
- Once you have that final list, you'll send them to NIH.

Your contact at NIH who needs the list o

[2020-06-04 12:15] RLC-DCPPC commented on #55
Hi @RebeccaBoyles . Thanks for reaching out. Please keep @ACharbonneau informed on all DCC contacts and let her know about the DCC contact log you are maintaining.

@owhite, let's discuss dividing the engagement work along the lines recommended by Amanda above: She will be the point of the spear and RTI will provide support and be available to answer questions on demand from the (ideally expanding

[2020-06-04 12:32] RebeccaBoyles commented on #55
@RLC-DCPPC Thanks for the clarification!
@ACharbonneau The communications log is here: https://docs.google.com/spreadsheets/d/1M6iLKBZYxawpE4n8pITFOgiQURlY8r9X5yTFqlpdUd4/edit#gid=0
Please add your notes. We will be updating regularly to reflect our activity.

[2020-06-05 18:30] josesanchez1815 commented on #52
# Meeting Time
June 18th 11-12th EST
@ACharbonneau @owhite @ctb

[2020-06-05 22:53] ACharbonneau opened #58 "Reskin website and move to CFDE RTD"
List of things to do:

- [x] edit to markdown- use extensions:
   - https://squidfunk.github.io/mkdocs-material/extensions/admonition/
   - https://squidfunk.github.io/mkdocs-material/extensions/pymdown/#critic
   - https://squidfunk.github.io/mkdocs-material/extensions/pymdown/#details
- [x] switch to material theme
   - [x] Take out makes, requirements, gem files
   - [x] Put in style sheets fol

[2020-06-05 22:56] ACharbonneau commented on #58
see also: https://squidfunk.github.io/mkdocs-material/extensions/pymdown/#tabbed

[2020-06-09 13:14] #56 closed

[2020-06-11 17:53] dcfcjcheadle commented on #20
Hi @ACharbonneau and @RLC-DCPPC,

I integrated training information into the [communication strategy draft](https://docs.google.com/document/d/1-AUoz6ccQs88BV3DlnjrSJEULPumvTLQRNYb7-BQOUg) using the training plan deliverable as a guideline.  I also updated the website section to incorporate websites other than the nih-cfde.org website.  New sections are marked by comments.  Please let me know what

[2020-06-11 18:02] ACharbonneau commented on #20
Hi! Sorry, I didn't realize you assigned yourself to this. The NIH has assigned us a Communications person, that we've met with a couple of times, and there are some specific things we need to cover in this plan to align with the overall NIH strategy. Titus has a new/different outline that he presented to her at our last meeting. I'll look to see what we might be able to use from this draft to fit

[2020-06-11 18:07] dcfcjcheadle commented on #20
Understood!  Hope some of it is usable and thanks for letting me know -

[2020-06-15 20:23] dcfcjcheadle commented on #55
The invitation to the technical topic presentations was sent to the **LINCS** team today.  The presentation is scheduled for **Friday, June 26 @ 1:00 PM EST**.

[2020-06-22 16:34] jeremywalter commented on #17
Are we adding more info here, or is this issue complete?

[2020-06-22 16:35] jeremywalter commented on #5
Any more to do here?

[2020-06-22 16:38] ACharbonneau commented on #5
Yup. All the things in the list :)

[2020-06-22 16:38] #17 closed

[2020-06-22 16:39] ACharbonneau commented on #17
Visit complete. Report underway

[2020-06-22 17:05] jeremywalter commented on #5
Ah, so this is the next round and who decides when that happens? IG?

[2020-06-22 17:18] ACharbonneau commented on #5
Some combination of me, IG, Carl and Owen I think.

[2020-06-22 17:23] ACharbonneau commented on #43
This is what you're working on @jeremywalter

[2020-06-22 19:50] jeremywalter commented on #43
https://github.com/dib-lab/cfde/issues/128
KF Training Walkthrough notes

[2020-06-24 13:43] dcfcjcheadle commented on #55
The invitation to the technical topic presentations was sent to the **Metabolomics** team today. The presentation is scheduled for **Wednesday, July 1 from 12:00 PM - 1:00 PM Eastern.**

[2020-06-24 17:42] #58 closed

[2020-06-24 18:09] RLC-DCPPC commented on #55
Hi. Could you post a link to your presentation decks?

[2020-06-24 20:24] ngaddis commented on #55
Here's the link: https://docs.google.com/presentation/d/1UhbfeCiWwsLidE4r7p00xe449JViPLwmQ5r37BWFMGY/edit?usp=sharing

We're still tweaking it a bit, but it's mostly final.

[2020-06-25 02:28] RLC-DCPPC commented on #55
Great. Thanks @ngaddis.

@rpwagner has some ideas for topics he'd like you to bring up relative to RAS.

[2020-06-25 15:08] ngaddis commented on #55
@rpwagner Let me know if you would like to discuss. Alternatively, you can share the topics here.

[2020-06-28 19:36] swandle06 commented on #55
I've set up Google Docs to capture the running notes from our meetings with the different DCCs here:
https://drive.google.com/drive/folders/1O_v_3H8Zt7UMaLHObQLmm5Bcz1xrX4F2
The LINCS document includes notes from our introductory meeting last Friday. The other docs are just stubs at this point until we have meetings with those programs in the coming weeks.

[2020-06-28 19:41] swandle06 commented on #55
In addition to John's notes above, we have the following meetings scheduled thus far:
**4DN** is scheduled for **Monday, June 29 from 4:00 PM - 5:00 PM Eastern**.
**SPARC** is scheduled for **Tuesday, June 30 from 3:00 PM - 4:00 PM Eastern**.

[2020-07-07 02:21] jeremywalter commented on #43
Pre-requisites have the caveat 'preferred' for ORCID and eRA Commons... is it possible to do any of this without them? I would like to deprecate the preferred.

[2020-07-07 03:15] abhijna commented on #43
I can't use my ORCHID to log into kidsfirst and so far I have not had a problem

[2020-07-07 13:25] ngaddis commented on #55
@RLC-DCPPC @rpwagner We have now met with 4 of the DCCs and have one more meeting coming up. Rick - since we were never able to touch base about the security-related topics you wanted to include, we'll have to use a different avenue to get the information you need. Let me know if we can help out in any way. We could facilitate contact with the DCCs if that would be helpful.

[2020-07-07 14:00] ACharbonneau commented on #43
you won't be able to do a protected data analysis without them. NIH does credentials thorough ORCID and eRA

[2020-07-07 14:02] jeremywalter commented on #43
I'm just concerned about the context of the lesson... where at minimum you should be able to access, move, and analyze the open data sets. I had not been able to make everything work without both pieces... but it was a pretty messy process the first time through and I don't know if others found a way through without ORCID =and= eraCommons

[2020-07-07 14:06] ctb commented on #43
Also, neither of these are burdensome to get. Most biomedical scientists will have eRA credentials, and ORCID is I think pretty straightforward to get (and is also something I want to push!)

Perhaps we could have people enter their ORCID in order to register for our workshop(s).

[2020-07-07 14:17] ACharbonneau commented on #43
you should be able to do everything in that lesson without both or either of them. Some of the lesson might be out of date since cavatica has had a couple updates, which is why we need to update/fix it. Regardless, I don't see the problem with telling people which method of auth they should opt for if they have it. Do you just not like the word 'preferred'? Or you don't like that which method you

[2020-07-07 14:31] jeremywalter commented on #43
I was not able to complete the lesson successfully without both, but it's unclear to me why... there were issues with logging in at one point, and getting access to the data in another... not sure how to recreate the process...

[2020-07-07 15:19] ACharbonneau commented on #43
hmm. If you can't recreate it, this is kind of a pointless thing to say now, but I'm gonna say it and put it in the notes for the meeting to say at everyone cause it's important:

For things we're testing, and especially for things that we have absolute control over (like this tutorial) it's really, really important to record your problems and your progress as you have them. We can't fix things in

[2020-07-08 15:54] ACharbonneau opened #79 "new issue"
to test the automation

[2020-07-08 16:04] #79 closed

[2020-07-08 16:04] ACharbonneau opened #80 "take two"

[2020-07-08 16:05] #80 closed

[2020-07-08 16:07] ACharbonneau opened #81 "sorry third try"

[2020-07-08 16:13] #81 closed

[2020-07-15 21:16] jeremywalter commented on #43
I have made significant edits to the text and formatting for KF Setting up and Exploring Data sections. I have not found a way to 'fix' the graphics, however. The .png files are good size and resolution, but the style formatting for the website make them appear very small (to appear between the TOC menus). Any thoughts on how these can be improved? @marisalim @s-canchi @abhijna @josesanchez1815 ?

[2020-07-15 21:47] marisalim commented on #43
you could try fiddling with [image size](https://github.com/mkdocs/mkdocs/issues/1678), but it looks like the width is already maxed out, and increasing height stretches the file ...

alternatively, when i select the image option 'View image', i can zoom in on the png file...

[2020-07-15 22:08] abhijna commented on #43
Hmm.. can we make them links so people can click on them to enlarge the image? Didn't they use to do that on one of our websites?

[2020-07-17 19:37] jeremywalter opened #106 "Make images 'zoomable' in training website"
I am not the website guru and am having trouble finding a solution. Since the KF Tutorials became Material for MkDocs beautiful, they have suffered from images that are extremely hard to see when bounded by the theme format.

Example: https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Kids-First/Exploring-Data-in-the-KF-Portal/KF_6_Filtering/

https://github.com/sachinchoolur/li

[2020-07-17 20:01] #106 closed

[2020-07-23 13:46] ACharbonneau commented on #20
https://docs.google.com/document/d/1kCEuireJ6HBd4pfR7XsZG3RWp5Vhb_P2krmoJGcBB3I/edit?usp=sharing

[2020-07-23 13:46] #20 closed

[2020-07-23 13:49] ACharbonneau commented on #52
NIH has taken over planning this

[2020-07-23 13:49] #52 closed

[2020-07-23 13:50] ACharbonneau commented on #9
will be virtual

[2020-07-23 13:50] #9 closed

[2020-07-23 13:51] ACharbonneau commented on #11
We are planning a more distributed, online event. Working on a poll to send to attendees that covers potential topics and days.

[2020-07-29 17:03] ACharbonneau opened #112 "Fixes to GWAS-General"
Editing this to reflect that it's been broken out into many issues and is now an epic. The associated issues are tagged with GWAS

[2020-07-29 17:04] ACharbonneau commented on #112
# setting up AWS page
- moved to https://github.com/nih-cfde/training-and-engagement/issues/123
      a t2.micro instance for Ubuntu Server 20.04 LTS (HVM), SSD Volume Type - ami-0d57c0143330e1fa7 (64-bit x86) / ami-05f126563b93d66c6 (64-bit Arm) cannot be launched without configuring a VPC if you are in US east (N. Virgina) us-east-1.
![image](https://user-images.githubusercontent.com/1719360/888

[2020-07-29 17:07] ACharbonneau commented on #112
# Accessing_aws page

- [x] Much, much later, in download the data, you have us download to our desktops and upload to AWS in a way that is going to be super error-prone:

It would be much simpler if in this section you re-structured to have the user do something like:
- make a folder for this lesson locally
- download the pem
- move the pem to that folder
- cd to that folder
- chmod the pem
- dow

[2020-07-29 22:37] ACharbonneau commented on #112
# What is PLINK

- [ ] In general, user experience surveys tell us that forcing people to fail makes them frustrated and less likely to finish/participate in the tutorial. We know that for "AMI whichever, in zone whatever, with a t2 or whatever" *exactly* what is already installed on that config. If wget and unzip aren't those things, we should have those get installed first, not have them try, ge

[2020-07-30 00:56] ACharbonneau commented on #112
# Install VFC tools

- [ ] Your first command only works *after* your second command. You should have users do `sudo apt-get update` *as their very first command*, when they're doing PLINK

- [ ] Why cd into VCF tools? Oh. I see. So. All of this apt-get stuff can happen in any folder, it just installs it to the system. Lets do all these installs with the wget, etc installs and not in the middle of

[2020-07-30 00:56] ACharbonneau commented on #112
# Install R

- [ ] We have run `apt-get update` so many times at this point. It doesn't necessarily hurt anything to run it a lot, but if I don't know what it does, I'm going to assume from this tutorial that it's the first step of literally every unix operation :)

[2020-07-30 01:17] ACharbonneau commented on #112
# Download the data

- [ ] `wget` is not installed on macs by default. Since this is a mac-centric lesson, you can't have people use wget unless you teach them to install it locally. Generally, you don't want to make them install stuff locally, it's much more error prone than AWS. And, with AWS if they ruin it they can kill the instance and start over...if they break their local machine...its not

[2020-07-30 01:18] ACharbonneau commented on #112
# Analyze

 - [ ] Why do I want to specify minor alleles?

- [ ] So. There are certainly times where you don't want to explain all the code. AWK is absolutely one of those times. We aren't here to teach people AWK, and we don't have the 20 years it would take to do it. So that's fine. But, it's still best not to just drop complex code on people with no explanation at all. A couple sentences about

[2020-07-30 01:19] ACharbonneau commented on #112
# Manhattan Plots

- [ ] More installs? We're almost to the exciting payoff of this tutorial! Don't ruin the flow with breaking to watch things install again. Install everything at the begining, where you can talk about install stuff all at once. And give them an overview of "we're installing this stuff, they do these steps, and that makes a pipeline" You do the talk while the installs run forever

[2020-07-30 01:19] ACharbonneau commented on #112
# Terminate

- [ ] important should be first, not last. People do the instructions *THEN* read the notes while they wait for a thing to happen. They *will* just delete it without looking to see that's potentially bad.

[2020-07-30 01:19] ACharbonneau commented on #112
# Overall comments/issues

- [x] You have made very nice copy/pasteable commands...but they don't work. When I click the copy button I get `$ chmod og-rwx ~/Desktop/amazon.pem` *including the `$` so the user can't actually use them.
- [x] In some of the copy/pasteable command boxes the commands end in a period...like a sentence. That will really break things when people use it, and since period is

[2020-07-30 01:20] ACharbonneau commented on #112
# Asides about training

- The connect button is good for testing things AND for people who's terminal doesn't work/are on windows. If you select 'EC2 Instance Connect'
![image](https://user-images.githubusercontent.com/1719360/88849695-3f098e80-d1b8-11ea-94d0-8293f7a65ea7.png)

it will launch a full working terminal in your browser:
![image](https://user-images.githubusercontent.com/1719360/88849

[2020-07-31 20:02] ACharbonneau opened #119 "General GWAS updates"

[2020-07-31 20:03] ACharbonneau opened #120 "Workshops and Outreach"

[2020-07-31 20:04] ACharbonneau opened #121 "Researcher Interview Phase"
Interface Guru will do testing on researchers/end users

[2020-07-31 20:19] #25 closed

[2020-07-31 20:20] ACharbonneau commented on #120
Site visits are cancelled because covid

[2020-07-31 20:56] ACharbonneau commented on #120
just testing zenhub, ignore

[2020-07-31 20:56] #120 closed

[2020-07-31 20:57] ACharbonneau commented on #119
just testing zenhub, ignore

[2020-07-31 20:57] ACharbonneau commented on #119
just testing zenhub, ignore

[2020-07-31 20:57] #119 closed

[2020-07-31 21:26] #43 closed

[2020-07-31 21:30] ACharbonneau opened #122 "Add tech/credit prerequisites and mention AWS time"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/

- [x] this tutorial is written for a Mac, but does not have any technology requirements listed. First mention that I need a mac is the accessing_aws page: "OK, so you've created a running computer on the cloud. How do you get to it? We will use the Mac terminal window to access the cl

[2020-07-31 21:40] ACharbonneau opened #123 "Choose and implement a single AWS configuration"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/aws_instance_setup/

a t2.micro instance for Ubuntu Server 20.04 LTS (HVM), SSD Volume Type - ami-0d57c0143330e1fa7 (64-bit x86) / ami-05f126563b93d66c6 (64-bit Arm) cannot be launched without configuring a VPC if you are in US east (N. Virgina) us-east-1.
![image](https://user-images.g

[2020-07-31 21:43] ACharbonneau opened #124 "Add information on reusing key pairs"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/aws_instance_setup/

Users should *not* be creating new key pairs every time they do something in amazon. They're re-useable. So, the instructions should say something like "if you already have a key pair" and "if you don't have a key pair" and have instructions for both

[2020-07-31 21:48] ACharbonneau opened #125 "Streamline save locations and workflow"
In download the data, you have us download to our desktops and upload to AWS in a way that is going to be super error-prone:
$ scp -i /Desktop/amazon.pem path/to/file/pruned_coatColor_maf_geno.vcf.gz ubuntu@ec2-???-???-???-???.compute-1.amazonaws.com:/GWAS/.
$ gunzip pruned_coatColor_maf_geno.vcf.gz #unzip the vcf.
$ scp -i /Desktop/amazon.pem path/to/file/coatColor.pheno ubuntu@ec2-???-???-???-??

[2020-07-31 21:49] ACharbonneau opened #126 "Make warning more specific and add a tip box for how to recover"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/aws_instance_setup/

Last line is "You have now successfully launched your AWS instance. DO NOT CLOSE THIS PAGE YET." I honestly don't now which page is "THIS PAGE". The tutorial? The AWS management page? I would make this less yelly, and more tell me what I actually need (and how to ge

[2020-07-31 21:51] ACharbonneau opened #127 "Fix wording"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/Accessing_aws/

- [x] "Start this tutorial by opening up a terminal window by searching (type cmd+space_bar) for "terminal" on your Mac." implies that I am now doing a new tutorial. Change to something like "To access AWS you need to open a terminal..."

- [x] This sentence is super con

[2020-07-31 21:54] ACharbonneau opened #128 "clarify chmod"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-Cloud/Accessing_aws/

what is chmod? why am I doing it? what are these letters? There should be at least a short explanation. I generally also include a link to the [wikipedia page](https://en.wikipedia.org/wiki/Chmod)

In Amazon, once your instance is running if you click the 'connect' butto

[2020-08-13 17:34] abhijna commented on #125
#129

[2020-08-13 17:34] #125 closed

[2020-08-13 17:35] abhijna commented on #124
#129

[2020-08-13 17:35] #124 closed

[2020-08-13 17:38] abhijna commented on #126
#129

[2020-08-13 17:38] #126 closed

[2020-08-13 20:56] ACharbonneau opened #139 "Engage the DCCs about their data in the C2M2"
In preparation for the public release currently slated for 9/30/20, we want the DCCs to review their data

[2020-08-13 21:21] ACharbonneau opened #140 "Fall Cross Pollination"

[2020-08-13 21:23] ACharbonneau opened #141 "Oct 15 Training Site Release"

[2020-08-14 15:55] ACharbonneau opened #142 "Contact GTEx about reviewing info"
We want to have GTEx do a 'full review' to help us figure out what that means. Their PO told us that they would be a good candidate for being our test case.

[2020-08-14 15:58] ACharbonneau opened #143 "Send a report to all DCCs with data in the portal"
We'd like the DCCs to do at least a cursory review of their data in the portal before release. This would go to all of them (and their POs). Might want to give a deadline for response/being shown in the portal

[2020-08-14 18:32] s-canchi commented on #141
Use this issue to track all new additions, changes made to latest that will be merged into stable prior to Oct 15th release.
- @abhijna merged edits to the general GWAS tutorial that included:
      - combining setup and download data steps to maintain consistency of workspace
      - Fixed broken links
- Marisa updated Snakemake tutorial: text/step formats, add input/output with javascript tabs,

[2020-08-14 20:14] ACharbonneau commented on #141
So one vaguely annoying thing is that zenhub doesn't appear to connect issues I've added to this epic to this issue. So, if ya'll aren't going to use zenhub, I'll have to connect it both places. That's fine, just an observation.

My view of this issue in zenhub looks like: ![image.png](https://images.zenhubusercontent.com/5f204fe0edbda0e7bf258e28/a95e60ab-cc68-4b15-bd22-f5ea9c051365)

[2020-08-14 21:21] #4 closed

[2020-08-14 21:21] #3 closed

[2020-08-14 21:21] #2 closed

[2020-08-14 21:47] ACharbonneau commented on #11
Survey sent 8/12

[2020-08-14 22:00] #140 closed, assigned to nobody

[2020-08-23 21:45] abhijna opened #145 "Split tutorial"
KF tab on training website: Kids First Registration should be split between registering for KF and Cavatica.

[2020-08-24 22:17] abhijna opened #146 "Add tutorial on downloading KF data"
Add a tutorial on how to download data from KF portal or cavatica.

[2020-08-25 00:05] marisalim opened #148 "Snakemake tutorial format updates"
update text/step formats, add input/output with javascript tabs, edit hyperlinks that say 'here'

[2020-08-26 14:54] abhijna commented on #146
added terminal vidlets using https://asciinema.org/

[2020-08-29 00:02] s-canchi opened #150 "MIME type tutorial"
Tutorial for understanding and obtaining MIME type. This is important for data transfers over the internet.

[2020-09-01 16:19] marisalim commented on #148
merged!

[2020-09-01 16:19] #148 closed, assigned to marisalim

[2020-09-01 17:13] ACharbonneau commented on #142
Talked to GTEx. They are on vacation, but will schedule a meeting with me in mid-september when they are back to chat about it

[2020-09-01 17:14] ACharbonneau commented on #143
Sent early version of report to MoTrPac on 8/30. Should have some feedback by end of the week

[2020-09-01 20:30] ACharbonneau opened #152 "i hate everything about this"
everything is spelled wrong

[2020-09-01 20:30] ACharbonneau commented on #152
@kutkatl

[2020-09-01 22:48] s-canchi commented on #150
This tutorial has been merged and will be available in the upcoming release.

[2020-09-01 22:48] #150 closed, assigned to s-canchi

[2020-09-02 00:16] s-canchi commented on #141
@s-canchi PR merge includes:
- MIME type tutorial listed under CF tutorial header
- Integrated asciinema player such that the screencasts can now be local and the appearance is modifiable
- PR template

[2020-09-02 23:59] jeremywalter commented on #152
I think it's fine... care to close it?

[2020-09-03 00:00] #152 closed, assigned to nobody

[2020-09-03 16:36] ACharbonneau commented on #152
lol

[2020-09-04 23:01] ACharbonneau opened #166 "Build a flow chart of a DCC data ingest"
I'm going to do a first pass at this, and then push it to Lee, Victor and Rick for dismemberment :)

[2020-09-08 22:04] s-canchi commented on #141
@s-canchi added auto reviewer assignment workflow - This will assign two reviewers for merge into `latest` and currently set for the whole team approval for merge into `stable`
Also included auto release notes tracking workflow.

[2020-09-08 22:11] ACharbonneau commented on #141
@nih-cfde/training  You might find your life to be somewhat improved if you look at my view of the repo, which you can get by installing a browser plugin: https://www.zenhub.com/extension

Example:

![image](https://user-images.githubusercontent.com/1719360/92532618-a75b7f00-f1fe-11ea-89ce-37ce2fdcc0bd.png)

[2020-09-09 00:14] s-canchi commented on #141
Is there a way to use this on safari ? Could not find the extension or an app for it.

[2020-09-09 12:53] ACharbonneau opened #168 "Typos in GWAS lesson"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-cloud/background/

should be 'one group of people'

should be 'of diseased individuals'

So there's a typo in there, but I also think it's just conflating a bunch of different issues. There's no reason an eye color gene couldn't be implicated in liver disease, the concern is more about the sp

[2020-09-09 13:02] ACharbonneau commented on #123
In general, user experience surveys tell us that forcing people to fail makes them frustrated and less likely to finish/participate in the tutorial. We know that for "AMI whichever, in zone whatever, with a t2 or whatever" *exactly* what is already installed on that config. If wget and unzip aren't those things, we should have those get installed first, not have them try, get an error message they

[2020-09-09 13:28] ACharbonneau opened #169 "GWAS install streamlining"
In general, you don't want to ruin the flow of your tutorial with breaking to watch things install all the time. Find a point near the beginning where you Install everything on AWS at once. In an in-person lesson, you can use that install time to give them an overview of "we're installing this stuff, they do these steps, and that makes a pipeline" You do the talk while the installs run forever. Fo

[2020-09-09 13:29] ACharbonneau commented on #168
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-cloud/manhattan/

halptypes
Manhatten plots

[2020-09-09 13:33] ACharbonneau opened #170 "Manhattan plot code error"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-cloud/manhattan/

the running the plot function code just doesn't work. I had to copy it all out and make it a single line in a text editor to make it function. It looks like this rscript can't accept / line breaks

- In the next step, it says  "The output should look like this:" but, as long

[2020-09-09 13:35] ACharbonneau opened #171 "Move termination"
https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/Bioinformatics-Tutorials/GWAS-in-the-cloud/terminate_aws/

The `important` should be first, not last. People tend to do the instructions *THEN* read the notes while they wait for a thing to happen. They *will* just delete it without looking to see that's potentially bad.

[2020-09-09 13:38] ACharbonneau opened #172 "Analyze page needs more context"
# Analyze

 - [ ] Why do I want to specify minor alleles?

- [x] So. There are certainly times where you don't want to explain all the code. AWK is absolutely one of those times. We aren't here to teach people AWK, and we don't have the 20 years it would take to do it. So that's fine. But, it's still best not to just drop complex code on people with no explanation at all. A couple sentences about

[2020-09-09 15:06] ACharbonneau opened #173 "Download the data errors"
- [x] `wget` is not installed on macs by default. Since this is a mac-centric lesson, you can't have people use wget unless you teach them to install it locally. Generally, you don't want to make them install stuff locally, it's much more error prone than AWS. And, with AWS if they ruin it they can kill the instance and start over...if they break their local machine...its not good. Ask me about th

[2020-09-09 22:43] ACharbonneau opened #176 "out of band globus group creation"
We need to register identities for PIs from the DCCs so they can actually use the report view in Epic 1. We're doing this off line rather than as a strict requirement of the epic, and will build a proper registration process later

- [ ] get together emails to request IDs from
- [ ] make sure I have them send the registration to the right place (Lee will tell me where)
- [ ] some kind of button cl

[2020-09-09 22:48] ACharbonneau opened #177 "Create a wireframe/mockup of what report page should look like"
I need to make a picture of what I think the report page should be so the UI folks have a place to start. I don't have a clear vision for this at the moment, need to see if Owen does. Try to have something for 9/11

[2020-09-09 23:15] lliming opened #179 "Create a Globus group for the authorized reviewers from each DCC"
To track and manage the authorized reviewers for each DCC, we will create a Globus group and invite members. Membership signifies that an individual is authorized to see the DCC's reviewable data.

Once each group is created, assign reasonable manager & administrator roles.  Then provide detailed instructions to the managers/administrators on how to manage the group.

NOTE: These groups are ONLY F

[2020-09-09 23:28] #179 closed, assigned to lliming

[2020-09-09 23:28] lliming commented on #179
I think this is a duplicate of #176.

[2020-09-09 23:43] ACharbonneau commented on #176
added real words from #179

[2020-09-10 17:14] ACharbonneau commented on #177
https://docs.google.com/presentation/d/1ZOu4S6Y5C8BvIH9iSUaui6SHutN1frIMjh28ESznNQE/edit#slide=id.g95d5c857f9_0_5

[2020-09-10 17:24] ACharbonneau opened #181 "Meeting with Cia @IG"
Meeting set for 9/21 @5pm EST

[2020-09-10 18:57] ACharbonneau commented on #166
https://docs.google.com/presentation/d/1TnVtRuZOr8tjAHqMbPXTtfRIKwigolcJ70Wn5fDxd4o/edit

[2020-09-10 18:57] #166 closed, assigned to ACharbonneau

[2020-09-10 18:59] ACharbonneau commented on #11
https://docs.google.com/spreadsheets/d/1WM4LbQ8ctki3ui7h9KTBZUXTIy9p3HhXk5a7yaQVU5c/edit#gid=1089477257

[2020-09-10 19:00] ACharbonneau opened #182 "Create a combined address list for mass emails"
https://docs.google.com/spreadsheets/d/1niqenLvLLN38Tfz2IXOaKum4Bo0N2m0HxM33X3E2pf8/edit#gid=0

[2020-09-10 19:01] ACharbonneau commented on #182
sent to Chris and Wendy at NIH for help filling in

[2020-09-10 19:02] ACharbonneau opened #183 "Create a way to easily contact people about Cross Pollinations"
@jeremywalter is looking into making a list in Groups.io

[2020-09-10 19:03] #182 closed, assigned to josesanchez1815

[2020-09-10 19:05] ACharbonneau opened #184 "Build a calendar for CP events"
presumably in groups.io

set up zooms for each in the calendar

[2020-09-10 19:06] s-canchi opened #185 "Fix training website header nav"
The header tab on our training website needs to be revamped with a different organizational scheme to avoid word repetition (tutorial) and to define content categories. This is a task for the December 2020 release.

[2020-09-10 19:11] ACharbonneau commented on #183
Ideally, I'd like to bulk add a couple hundred people *without* notifying them they've been added. Just to cut down on email clutter. If it won't let us stealth add them, make sure the list is set up so that they get an informative welcome email. Also make sure *before* we start adding people that it's set up nicely:

-  that every email tells them how to unsubscribe. Like a legit mailing list
- i

[2020-09-10 19:17] ACharbonneau opened #186 "add all the people to the CP mailing list"
contact list is here:
https://docs.google.com/spreadsheets/d/1niqenLvLLN38Tfz2IXOaKum4Bo0N2m0HxM33X3E2pf8/edit#gid=0

NIH may be updating it, and we don't want to announce dates until some things have happened so wait on this until some sort of signal please

[2020-09-10 19:17] jeremywalter commented on #183
I don't know how to stealth add people to mailing lists. Hopefully knowing you're on the mailing list with one frivolous e-mail won't dissuade too many people from participating. Otherwise I'm setting up a groups.io and attempting to integrate a calendar and escape options.

[2020-09-10 19:19] ACharbonneau commented on #184
dates: https://github.com/nih-cfde/training-and-engagement/issues/11

[2020-09-10 19:23] ctb commented on #183
On Thu, Sep 10, 2020 at 12:18:02PM -0700, Jeremy Walter wrote:

I think there are options here... what does the carpentries use?

[2020-09-10 19:26] ACharbonneau opened #187 "email all the people about CP"
Possibly we're going to send them to the new website to register...will deal with that as a concept once we're to this step. Email should have:

- dates, times, good descriptions
- links to register? or zoom links - need to decide if we're doing registration or not
- who to contact with questions (let's say Jeremy)

[2020-09-10 19:30] ACharbonneau commented on #184
@jeremywalter can you do a reality check to make sure that none of our dates are on holidays/so close to holidays that no one is gonna come? we might need to rearrange/kill some of the late November stuff

[2020-09-10 19:31] ACharbonneau opened #188 "Get people to volunteer to be speakers at lightning sessions"
So this is the Harmonization initiatives on 10/27/2020, DCC Lightning talks on 11/3/2020 and DCC Lightning talks on 11/24/2020

For Harmonization, we'll need a lightning talk from each funded DCC, and we have a specific format.

For the others it's anyone who wants to volunteer.

For all, we should have the lineup set at least 2 weeks before.

[2020-09-10 19:33] ACharbonneau opened #189 "Reminder emails before each event?"
I think we want to do this? Not sure if its for everyone, or just for registered people? DISCUSS

[2020-09-10 19:35] ACharbonneau commented on #189
we should coordinate this with Wendy Knosp. we might need to get her on github

[2020-09-10 19:35] ACharbonneau commented on #187
we should coordinate this with Wendy Knosp.

[2020-09-10 19:37] ACharbonneau commented on #46
I'm going to have @josesanchez1815 from my coordination team be in charge of coordinating all these meetings.

[2020-09-10 19:41] ACharbonneau opened #190 "Establish a place to hold all the materials for the CP"
It needs to be relatively public so all attendees can get to it. Needs:

- Place to submit lightning talk materials
- Place for notes for meetings
- Place to store webinar presentations and videos

[2020-09-10 19:43] ACharbonneau opened #191 "Assign scribes and get meetings on their calendars"
Team @nih-cfde/training is mediating all these discussion events. You need to get at least 2 (preferably 3) note takers per event, make sure they know where they're taking notes, and make sure they're all there and good to go.

[2020-09-10 19:46] ACharbonneau opened #192 "Meeting outcome overviews"
For each meeting with discussion, the scribes should put together a short (half page to a page) overview of outcomes from the meeting that we can distribute. I want the overviews to be out before the next meeting (so like, within a few days), because in a lot of this meeting series, the meetings build on one another. So you'll need to keep people on task a bit.

[2020-09-10 19:52] #145 closed, assigned to abhijna

[2020-09-10 19:52] #146 closed, assigned to abhijna

[2020-09-10 20:11] ACharbonneau commented on #183
https://carpentries.topicbox.com/

[2020-09-10 20:20] ACharbonneau commented on #141
this is a duplicate of https://github.com/nih-cfde/deliverables/issues/89 closing

[2020-09-10 20:20] #141 closed, assigned to nobody

[2020-09-10 21:06] marisalim opened #193 "update conda tutorial format"
we made some changes to the overall tutorial section layout. editing conda tutorial to update format + demo the new style guidelines

[2020-09-10 21:07] marisalim opened #194 "update snakemake tutorial format"
we made some changes to the overall tutorial section layout. editing snakemake tutorial to update format + demo the new style guidelines

[2020-09-10 21:54] ACharbonneau opened #195 "Meeting setup information for funded DCC Onboarding"
1 hour, Zoom meeting per DCC
Invite @ACharbonneau, @owhite, @RLC-DCPPC, and the PIs from the DCC being onboarded.

Do @kinsingc, @hresat and/or @kutkatl want to be invited to these? Please respond in a comment. If you only want to come for certain DCCs, please specify

@josesanchez1815 will be coordinating. These meetings need to start asap after the DCC is funded, so you should start finding time

[2020-09-10 22:02] ACharbonneau commented on #195
Agenda Template
-----------------

Date:
Time:
Zoom meeting link:
Attendees:

Link to DCC github repo:
Link to this agenda:

- Introductions (all)
- Onboarding instructions review/help (Amanda)
- Intro to CFDE spaces (Amanda)
   - [Organization repo](https://github.com/nih-cfde/organization)
   - [groups.io](https://cfde.groups.io/g/General/topics)
   - Slack
   - Google Drive
      - [Everyone](h

[2020-09-10 22:07] ACharbonneau opened #196 "Pre-setup spaces for DCCs"
Before you can start scheduling the onboarding meeting for a DCC, each onboarding DCC will need:

- A top level folder in the shared google drive
- A github repo:
   - with the correct permissions
        - maintain for everyone on that DCCs team, write for any collaborating DCC team, read for everyone else
   - with the correct issue template
- A personalized version of [the agenda](https://githu

[2020-09-10 22:24] jeremywalter commented on #184
I do not see any (holidays don't generally fall on Tuesdays)... Veteran's Day falls on the a Wednesday after a meeting and another meeting happens 2 days BEFORE Thanksgiving. I think this is okay?

[2020-09-10 22:26] ACharbonneau commented on #196
You can start setting up spaces now for

- SPARC
   - [x] google drive folder
   - [x] github repo
   - [x] onboarding meeting agenda
   - [x] running agenda
- LINCS
   - [x] google drive folder
   - [x] github repo
   - [x] onboarding meeting agenda
   - [x] running agenda
- Kids First
   - [x] google drive folder
   - [x] github repo
   - [x] onboarding meeting agenda
   - [x] running agenda
- G

[2020-09-10 22:27] ACharbonneau commented on #195
@josesanchez1815 Please come up with the template text for the email you'll send DCCs in this thread, and I'll help you edit it. That way all the templates are here.

Your email should:
- be pretty short and to the point: you want to find times for their CFDE-CC Onboarding meeting. The meeting will give them an overview of our project management and reporting structure so they can get their delive

[2020-09-10 22:30] ACharbonneau commented on #184
no one works the week of thanksgiving. which one is it?

[2020-09-10 22:42] jeremywalter commented on #184
The last one -- lightning talks part 2 --

[2020-09-10 22:43] ACharbonneau opened #198 "I need to make a zenhub tutorial for DCC onboarding"
[I already have the base of one](https://github.com/nih-cfde/organization/blob/master/projectmanagement/AddingIssuesToEpics.md) I just need to expand it out to all DCCs

Need to do this before the first meeting.

[2020-09-10 22:43] jeremywalter commented on #183
Does this seem like an okay thing?
https://groups.io/g/CrossPollinationEvents
People can add themselves with a link. I have created a calendar and started populating it with events. It has super easy Zoom integration (as you are probably aware?). I had some of the team log in and it seems to work okay... does it tick all the boxes?

[2020-09-10 22:43] ACharbonneau commented on #184
ok. When you go to find lightning talk speakers, lets ignore that one until/unless the first one fills. And unless we have a ton of people who want to do it, kill it

[2020-09-11 16:08] abhijna opened #200 "KF download data tutorial -- vidlet suggestions"
Comments for Terminal vidlet: wget to download data (From @s-canchi )

The actual content starts between 2-3 seconds and would be good to edit out the initial message about z shell
Actual commands are run within the first minute and 30 seconds and the remainder video is the download process. Maybe edit it out to show the final result ?
Some inconsistency in comment text format with capital and sma

[2020-09-11 17:23] jeremywalter commented on #189
without a registration process it seems kind of spammy, I'm not clear on how to navigate this subject in the community

[2020-09-11 17:25] ctb commented on #189
I have lots of thoughts on this kind of thing. Happy to help brainstorm.

[2020-09-11 17:28] jeremywalter commented on #189
Note: The Zoom integration in groups.io has an RSVP button -and- a reminders button.

[2020-09-11 18:27] jeremywalter commented on #190
I have seen a lot of back and forth on where to put things... mostly on where not to put things. Would a Cross_Pollination folder in the CFDE Everyone be appropriate? Or a big Cross_Pollination folder to keep it separate and then subfolders for meeting notes, presentation materials, and recorded presentations?

[2020-09-11 18:36] jeremywalter commented on #191
Clarification: does this mean that 2 or 3 out of 5 of our team should be taking notes at every meeting? Or should I be looking further afield for scribes?

[2020-09-11 18:38] jeremywalter commented on #183
First test of above groups.io successful. Second test happening today to test RSVP and Reminder features.

[2020-09-11 18:48] s-canchi commented on #190
Are the kickoff meeting materials in the CFDE Everyone ? The CP folder would make sense in the same drive as it.

[2020-09-11 20:06] ACharbonneau commented on #190
nope. that's why I assigned myself to this one too. I have to make you a place. one moment

[2020-09-11 20:12] ACharbonneau commented on #190
Here is your folder: https://drive.google.com/drive/u/2/folders/0AEcWOATavB8DUk9PVA

You'll need to configure the settings. I recommend that you make everyone who isn't you (or me) a "Contributor" so that you can manage the organization without people breaking it. But, you do you.

[2020-09-11 20:15] ACharbonneau commented on #191
You can try to get people who are not in our lab to do it if you want, but I suspect your luck there will be negative

[2020-09-11 20:16] ACharbonneau commented on #191
also note #192 but, it's your show, you pick who to manage :)

[2020-09-11 20:25] ACharbonneau opened #202 "Slack channel set up for CP"
As part of registration, you might want to give people the option to join slack, in particular to [this slack channel](https://join.slack.com/share/zt-hf0ghcok-DSFThbD_AJ5JhTbPc5tG7A) as we did with the January meeting. It could be a good place to do reminders as in #189 and it allows for cross talk during talks without interrupting the speaker.

thoughts @ctb ?

[2020-09-11 20:27] ACharbonneau commented on #202
The slack invite I linked above expires after 7 days, we'll have to refresh it if we go this route

[2020-09-11 20:32] ACharbonneau commented on #202
actually, having thought about it an extra 30 seconds. our paid group.io is *already configured* to invite everyone to slack, so if you just made crosspollination a subgroup of our regular groups io, they'd get an invite if they wanted it

[2020-09-11 21:18] #193 closed, assigned to marisalim

[2020-09-11 21:36] #194 closed, assigned to marisalim

[2020-09-11 23:09] ctb commented on #202
On Fri, Sep 11, 2020 at 01:25:38PM -0700, Amanda Charbonneau wrote:

yes!

[2020-09-12 00:52] jrchudy commented on #176
In regards to adding signup links into the navbar, I had commented the following in the EPIC 1 statement document:

Seeing the above, sounds like we won't need to do what I mentioned above for this sprint. Once these groups are created, we can use them to control what links the user sees in the navbar based on group membership.

[2020-09-14 19:13] jeremywalter commented on #184
having built a calendar in the CP group which seems to be an unfortunately decapitated path, I will rebuild the calendar in Google hoping it will be more flexible/portable...

[2020-09-15 00:31] josesanchez1815 commented on #195
# Draft E-mail for the DCCs

Greetings from the Common Fund Data Ecosytem Coordinating Center!

We would like to invite you to join us at the CFDE-CC. We look forward to start collaborating with you! You will be playing a vital role in the development of CFDE as we strive to connect the NIH Common Fund Programs together to discover solutions to new and existing medical challenges.

In order for yo

[2020-09-15 14:39] hresat commented on #195
Sorry - clicked on the wrong thing :(

@ACharbonneau : Please invite us to all DCC sessions. We can attend as our time allows.

DCCs to start with are: KidsFirst, GTEx, LINCS, SPARC, Metabolomics, ExRNA, IDG, and HuBMAP. There are 8 of them. Awards will go out very soon. I would not wait for the awards to be issued and contact their PIs and let them know about your plans asap. If you do not have t

[2020-09-15 14:55] kinsingc commented on #195
Please invite kinsingc to all DCC engagement meetings.  Please require me to attend meetings with Kids First, GTEx, and Metabolomics.

[2020-09-15 15:20] abradyIGS opened #206 "draft C2M2 MIME type usage tutorial"
cf §4.3 [here](https://docs.google.com/document/d/1-Ef1iW772QFo_XScoxlH1NU91kpH3Vcgeazss-EMP-c) (may be done already)

[2020-09-15 15:42] abradyIGS commented on #206
superseded by https://app.zenhub.com/workspaces/cfde-roadmap-board-5f2050f40fc09500139ce760/issues/nih-cfde/training-and-engagement/150 ; closing

[2020-09-15 15:42] #206 closed, assigned to ACharbonneau

[2020-09-15 15:54] lliming commented on #176
Globus groups are really easy to create and quite flexible. Once someone (anyone) creates a group, it can be administered (reconfigured) and managed (members added/removed/approved) by other people.

1. I would be happy to either create the groups myself and assign others to adminster & manage them, or write up instructions for how to do that. Please let me know which you'd rather I do.
2. Can we

[2020-09-15 16:11] ctb commented on #176
yes, agreed!

I think Amanda and I should both have such privileges, along with perhaps
Jeremy Walter as a backup.

[2020-09-15 16:16] kinsingc commented on #195
I'm making some corrections to the text:

Greetings from the Common Fund Data Ecosytem Coordinating Center (CFDE-CC)!

We would like to invite you to join us at the CFDE-CC. We look forward to collaborating with you! You will play a vital role in the development of the CFDE as we strive to connect the NIH Common Fund Programs to discover solutions to new and existing medical challenges.

In order

[2020-09-15 17:04] lliming opened #207 "onboarding instructions for DCC reviewers for Epic 1"
We need a simple, easy-to-follow set of instructions for DCC PIs that tell them how to get their authorized reviewers onboarded.

- At its most basic, this will be of the form, "Send us the ID of the person you want to authorize."
- But we'll need a little more detail than that. For example: How do I get the right ID for each person? Where do I send it? And maybe: How can I get the list of people

[2020-09-15 17:07] ctb commented on #207
did you just third-person yourself? 😄

I think we should require that they be onboarded to the CFDE in the traditional sense, first (or as part of this).

[2020-09-15 18:18] jeremywalter commented on #187
DRAFT - IN PROGRESS

Greetings from the CFDE-CC!

[CFDE Cross-Pollination Events ](https://docs.google.com/spreadsheets/d/1hQAeOLkivUZZnwZ_KxfGw3neezMaWbrPk9nnFiKfQGA/edit#gid=1089477257) begin next week.

Week 1: **How to Engage with the CFDE**: An overview of the what the CFDE-CC has been doing, the goals of the CFDE, how to participate, and an overview of resources (e.g., websites, RFCs). 45 mi

[2020-09-15 20:58] jeremywalter commented on #195
Reduced version -- in markdown -- check format if sending:

Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a [insert DCC here] onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so th

[2020-09-15 23:12] jeremywalter commented on #186
Mailing list issues:

Current set-up:
**Potential Problems**
Everyone is added to #general (cannot be changed -- is this okay?)
Everyone is added to slack (can be turned off)
**Advantage**
Billing established, incurs no extra expense

**Tasks**
- [ ] Copy current general members to a 'CFDE Member' Subgroup (for funded members)

- [ ] Create new mailing list for CFDE Member Subgroup (for funded mem

[2020-09-15 23:22] ctb commented on #186
you mean main? no, alas. On most of my groups.io lists, I never use main@.

It's not so much "copy" as "add"; happy to show you interface for dib-lab.

I think either one can work, and the cost of a new list is minimal.

[2020-09-16 00:01] jeremywalter commented on #186
Though my descriptions might have been off vocabulary-wise, I do believe I got the workflow (tasks) more or less right. I would really prefer to fire up a new group for the duration of the CP events just to keep things tidy and separate and give us some better integrations that we could use for the CP (such as automated Slack adds). The question then becomes: can we do this _today_ (Wednesday, Sep

[2020-09-16 01:18] ACharbonneau commented on #176
That works for me. I will need management instructions though please :)

[2020-09-16 14:02] ACharbonneau commented on #207
oh man. we probably do need to make getting added to deriva groups a part of onboarding. I hadn't considered that. I think for Real Life™ we should roll it into our onboarding form and process, but for this first go at getting people in, I think we'll just ask them to onboard concurrently. Most of the relevant people will be onboarding as part of their FOA funding anyway.

cc: @nih-cfde/coordinato

[2020-09-16 14:03] ACharbonneau commented on #186
I want the emails sent today (Wednesday) if at all possible. I think we've got enough set up to make it go? We can finalize via slack

[2020-09-16 14:28] ACharbonneau opened #208 "GTEx onboarding email"
In addition to the people that always are invited:

- Kristin Ardlie
- Lan Nguyen
- Francois Aguet
- Jared Nedzel
- Katherine Huang
- Lan Nguyen
- Duyen Nguyen

I'll send you Lan's email privately. The others should be in your contact sheet

I want this one sent today

[2020-09-16 15:57] ACharbonneau commented on #186
actually, NIH hasn't looked at contacts yet. lets get the rest set up today tho

[2020-09-16 16:32] s-canchi opened #209 "CFDE Portal Tutorial(s)"
Tutorial Requirements:
Consists of researcher use case (or another use case that can be completed using the portal) and write a tutorial for it.
The site goes public 10/31 so it needs to be in the 10/15 release
At this exact moment, focus on the walkthrough with limited screenshots, as the interface is currently being changed. We'll drop in screenshots last.

[2020-09-16 16:56] ACharbonneau commented on #188
For the first session, we want to ask the newly funded DCCs, and we want to ask them to do lightning talks discussing their plans for their funded projects. We're emailing all the PIs on the grants, but make sure it's clear we only want one talk per DCC.

lets contact:

GTEx
------
- Kristin Ardlie
- Francois Aguet
- Jared Nedzel

SPARC
-------
- Peter Hunter
- Bernard de Bono
- Maryann Martone

K

[2020-09-16 16:59] lliming commented on #176
The following Globus groups are created and both @ACharbonneau and @ctb are administrators of each group. At this point, you may remove me from the group membership if you prefer that I not be a member. I don't mind either way, but it might be best to do that whenever the groups begin to be used to control access in the portal.

Group Name | UUID
-- | --
NIH CFDE GTEx Reviewers | 7977181e-f82f-11e

[2020-09-16 16:59] #176 closed, assigned to ACharbonneau, lliming

[2020-09-16 17:04] lliming commented on #207
Can I get a link to the current onboarding process/description? I'm curious to see if there may be something that's already being done that would simplify this process (getting added to a review group) for people who've already been onboarded, or who are getting onboarded as part of this process. Thanks!

[2020-09-16 17:24] jeremywalter commented on #202
https://join.slack.com/share/zt-heyno65h-8ulXD17qsKsFGqNq4ie08w

link to join the cross-pollination slack channel in CFDE group (should not add people to the group) -- as noted this will have to be refreshed weekly -- OR I can just include my contact for people ping me if they encounter the expired version.

[2020-09-16 17:46] josesanchez1815 commented on #208
https://doodle.com/poll/5uivrym65db5kkhk

[2020-09-16 17:47] josesanchez1815 commented on #195
GTEx https://doodle.com/poll/5uivrym65db5kkhk
doodle link

[2020-09-16 17:48] ACharbonneau commented on #195
@josesanchez1815 can you put the individual info for each call on their individual issues? Otherwise this issue is going to get super hard to follow. So put GTEx here: https://github.com/nih-cfde/training-and-engagement/issues/208 thanks

That way you can put the exact email text in the issue and everything :)

[2020-09-16 17:53] ACharbonneau commented on #207
From a onboarding human point of view, the process is:

- Go to [our welcome site](https://cfde-welcome-to-cfde.readthedocs-hosted.com/en/welcomefixes/General_Onboarding/)
- Fill out the form there and refer back to site with any questions

From an onboarding team point of view the process is [documented here](https://github.com/nih-cfde/organization/blob/master/infrastructure/OnboardingWorkflow.m

[2020-09-16 17:56] ACharbonneau commented on #207
For the record, I'm open to re-jiggering the onboarding if there's ways to make it more automated. Right now we have to add people to each resource (github/google/groups.io) individually as only groups.io and slack will talk to one another.

[2020-09-16 18:38] jeremywalter commented on #188
DRAFT INVITATION:

Greetings from the CFDE Coordination Team!

We are currently organizing Cross-Pollination events and are requesting that you or someone on your team present a short (8 minutes max) 'Lightning' talk via Zoom. There will be a brief (3 minute) Q&A after each presentation. The talk should present a highlights version of your planned, newly funded CFDE project(s).

 10/6/2020 | 11 AM

[2020-09-16 18:42] ACharbonneau commented on #188
ahh. I see. So. these were not meant to be the same format. Harmonization initiatives was going to be super lightning. like, 2 minutes to tell us what your requirements are, and all as one presentation. so DCCs work together beforehand to produce a single ~16 minute presentation

[2020-09-16 19:01] ACharbonneau opened #210 "SPARC onboarding email"
- Peter Hunter
- Bernard de Bono
- Maryann Martone
- Jyl Boline
- Jeffrey S. Grethe

[2020-09-16 19:02] ACharbonneau opened #211 "LINCS onboarding email"
- Avi Ma’ayan
- Sherry Jenkins
- (Zhuorui) Sherry Xie
- Minji Jeon
- John Erol Evangelista
- Maxim Kuleshov
- Kathleen Jagodnik
- Daniel Clarke

[2020-09-16 19:06] ACharbonneau opened #212 "Kids First Onboarding email"
- Adam Resnick
- Allison Heath
- Vincent Ferretti
- Jack DiGiovanna
- Tatiana Patton
- Jena Lilly
- Ryan Velasco

[2020-09-16 19:09] ACharbonneau opened #213 "IDG onboarding email"
- Tudor Oprea
- Avi Ma’ayan
- Jeremy Yang
- Allison Bailey
- Mike Garcia
- Tudor Oprea
- Jessica Binder
- Christina Klauber
- Cristian Bologna
- Stephen Mathias
- John Erol Evangelista
- Eryk Kropiwnicki

[2020-09-16 19:18] ACharbonneau opened #214 "Metabolomics onboarding email"
- Shankar Subramaniam
- Mano Maurya
- Sonal Choudhary
- Shakti Gupta
- Eoin Fahy

[2020-09-16 19:21] ACharbonneau opened #215 "ExRNA onboarding email"
- Aleksandar Milosavljevic
- Sai Lakshmi Subramanian
- Emily LaPlante
- Kevin Riehle
- Matthew Roth

[2020-09-16 19:24] ACharbonneau opened #216 "HuBMAP onboarding email"
- Jonathan Silverstein
- Nick Nystrom
- Katy Börner
- Robin Scibek
- Philip Blood
- Mark Munsen

[2020-09-16 21:29] jeremywalter commented on #188
Updated the draft... do we want any calendar or zoom links included in this particular mail? Is there a preferred deployment for this mail? (like... CC everyone in a gmail? or ???)

[2020-09-16 21:30] josesanchez1815 commented on #208
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a GTEx onboarding meeting to get your management team oriented to our project management and reporting structure.

You can help us prepare you for the meeting by:

 filling out this doodle poll https://doodle.com/poll/5uivrym65db5kkhk so that we can coordinate a Zoom meeting.

 forwarding this me

[2020-09-16 21:34] ACharbonneau commented on #188
Sure if you have it. But let's make sure the description is right. I updated your email text

[2020-09-16 21:37] ACharbonneau commented on #188
For the actual email

If you want to do just one: you should send ME the email, CC Owen, and BCC all the people you're actually sending it to.

Or, do one email per DCC (so then they'll know who else in their org you emailed) and CC me and Owen.

Second choice is more annoying for you, but easier for the DCCs.

Sending one mass email with all the names in the To box will cause a horrific nightmare

[2020-09-16 21:51] josesanchez1815 commented on #211
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a LINCS onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll https://doodle.com/poll/v9at4ys8knua5z5v so that we can coordinate a Zoom meeting.

- [ ] forwardi

[2020-09-16 21:54] jeremywalter commented on #188
Missing e-mails:
**SPARC**
Peter Hunter
**Kids First**
Vincent Ferretti
Jack DiGiovanna
**IDG**
Tudor Opera
**ExRNA** -- _no contacts_
Aleksandar Milosavljevic
**HuBMAP**
Katy Borner

[2020-09-16 22:15] AviMaayan commented on #188
Tudor I Oprea <TOprea@salud.unm.edu>

[2020-09-17 17:35] jeremywalter commented on #188
Emails sent to everyone on this list, separated by org.

[2020-09-17 17:36] #184 closed, assigned to jeremywalter

[2020-09-17 17:36] jeremywalter commented on #184
I'm calling this done, though it still seems to be getting some tweaks. The calendar exists here: https://groups.io/g/CrossPollinationEvents/calendar
and is also built in Zoom.

[2020-09-17 17:38] jeremywalter commented on #186
Groups.io is set up, calendared, and ready to take on approved mailing lists.
https://groups.io/g/CrossPollinationEvents

[2020-09-17 17:39] jeremywalter commented on #187
Waiting for mail list to be approved and added to groups.io and for CP schedule to be finalized.

[2020-09-17 17:41] ACharbonneau commented on #188
Cool. I can't remember if I made an issue for this, so either here, or in a specific issue please build the agenda for that meeting as you get volunteers.

[2020-09-17 17:50] josesanchez1815 commented on #210
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a SPARC onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this message to a

[2020-09-17 17:51] josesanchez1815 commented on #208
# GTEx Onboarding Meeting
### Thursday, Sept. 24,2020 @ 6am PST (9am EST)
Zoom

[2020-09-17 17:54] ACharbonneau commented on #210
@josesanchez1815 Is this in the right place? it looks like you emailed LINCS...

[2020-09-17 17:55] josesanchez1815 commented on #210
Haha Yeah I know it looks that way. I meant to edit the Common Fund Names

[2020-09-17 17:59] josesanchez1815 commented on #212
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a Kids First onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this message

[2020-09-17 18:10] josesanchez1815 commented on #213
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a IDG onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this message to any

[2020-09-17 18:12] ACharbonneau commented on #177
[First full draft of wireframe](https://docs.google.com/presentation/d/1ZOu4S6Y5C8BvIH9iSUaui6SHutN1frIMjh28ESznNQE/edit#slide=id.p)  is complete. @api @ui should check it and leave feedback. Comments on the doc are fine, or discuss in this thread.

[2020-09-17 18:13] josesanchez1815 commented on #214
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a Metabolomics onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this messa

[2020-09-17 18:15] josesanchez1815 commented on #215
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having an ExRNA onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this message to

[2020-09-17 18:15] josesanchez1815 commented on #216
Welcome to the Common Fund Data Ecosystem!

In anticipation of your funding announcement, we're having a HuBMAP onboarding meeting to get your management team oriented to our project management and reporting structure. You can help us prepare you for the meeting by:

- [ ] filling out this doodle poll [insert doodle poll] so that we can coordinate a Zoom meeting.

- [ ] forwarding this message to

[2020-09-17 22:50] josesanchez1815 commented on #211
# LINCS Onboarding Meeting
### Tuesday, September 22, 2020 @ 10AM PST (1PM)

[2020-09-18 00:32] marisalim opened #219 "Update KF tutorial landing pg"
update the landing pg following style guide - move Portal overview content to landing pg for description, learning objs, table of contents, and prereqs.

[2020-09-18 00:50] marisalim commented on #219
@abhijna did we come to a conclusion about whether the ORCID id is required for the KF tutorial? The tutorial says ORCID, but you seem to be working fine with Google. Should I add that either works in the prereqs section?

[2020-09-18 00:52] abhijna commented on #219
oops, i changed it in the download data page but forgot to edit that in the prereqs. yes, please change :)

[2020-09-18 16:41] jeremywalter commented on #186
A combined list of Master + CFDE groups.io members will be added to the Cross Pollination groups.io today -- they will have access to the CP Calendar in groups.io.

[2020-09-18 16:45] jeremywalter commented on #186
mailing list set to launch on Monday, will include groups.io notification and invitation to CP events

[2020-09-18 16:49] jeremywalter commented on #188
Agenda (Under Construction)
https://docs.google.com/document/d/1njHqjM5RE9jhmAi5orMtnvtakulcHFcGUm9HyYn1ATo/edit?usp=sharing

**ExRNA - Aleks
Metabolomics - Shankar**

- [ ]

[2020-09-18 16:51] jeremywalter commented on #191
https://docs.google.com/spreadsheets/d/1f9Zs53kAao6WJejI1n-eW6K5EF45Gehc3vNYontYw3Y/edit#gid=0

Scribe sign-up

 Date | Scribe 1 (PhD) | Scribe 2
 ----  | --------- | -------
09/29/2020	| Abhijna| Jeremy
10/13/2020	| Marisa	| Jeremy
10/20/2020	| Saranya	| Abhijna
10/27/2020	| Marisa   | Jeremy
11/10/2020	| Saranya	| Abhijna
11/17/2020	| Saranya	| Jeremy

[2020-09-18 17:07] jeremywalter commented on #187
This can be included in the add to groups.io avoiding sending out two concurrent mass e-mails. Current plan is to add CP details to the direct add in to groups.io with CP details.

[2020-09-18 17:50] #183 closed, assigned to jeremywalter

[2020-09-18 17:50] jeremywalter commented on #183
groups.io is deployed and will be populated Monday...

[2020-09-18 17:52] jeremywalter commented on #189
The reminders can be set up in the groups.io to ping everyone in the mailing list at adjustable intervals. If this is wanted, I will happily implement it.

[2020-09-18 19:20] s-canchi opened #221 "Fix website images to include hyperlink text"
In the current website mouse hover on an images shows magnifying icon instead of the alternative text. This has to be corrected to meet accessibility requirements. This will be fixed in the next release using an updated image syntax.

From @marisalim

[2020-09-18 19:37] marisalim commented on #221
note that i figured this out from working on the KF tutorial, so it should be good to go, unless anyone wants to edit what the text says.

we'll need to double-check the images in the rest of the tutorials.

[2020-09-18 20:25] marisalim opened #222 "Add landing pg info to protected branches tutorial"
The General Tutorials need landing page information (added to top, not separate page). It would be great to get these updated for the Oct 2020 release so they all have, at minimum, the learning objective(s), prerequisites, and estimated time to complete sections. As applicable, include a tutorial resources tab (e.g., to link github repos for the website rendering tutorials). See style guide and/or

[2020-09-18 20:26] marisalim opened #223 "Add landing pg info to jekyll web dev tutorial"
The General Tutorials need landing page information (added to top, not separate page). It would be great to get these updated for the Oct 2020 release so they all have, at minimum, the learning objective(s), prerequisites, and estimated time to complete sections. As applicable, include a tutorial resources tab (e.g., to link github repos for the website rendering tutorials). See style guide and/or

[2020-09-18 20:26] marisalim opened #224 "Add landing pg info for sphinx web dev tutorial"
The General Tutorials need landing page information (added to top, not separate page). It would be great to get these updated for the Oct 2020 release so they all have, at minimum, the learning objective(s), prerequisites, and estimated time to complete sections. As applicable, include a tutorial resources tab (e.g., to link github repos for the website rendering tutorials). See style guide and/or

[2020-09-18 20:26] marisalim opened #225 "Add landing pg info for MkDocs web dev tutorial"
The General Tutorials need landing page information (added to top, not separate page). It would be great to get these updated for the Oct 2020 release so they all have, at minimum, the learning objective(s), prerequisites, and estimated time to complete sections. As applicable, include a tutorial resources tab (e.g., to link github repos for the website rendering tutorials). See style guide and/or

[2020-09-18 20:27] marisalim opened #226 "Add landing pg info for Javascript tutorial"
The General Tutorials need landing page information (added to top, not separate page). It would be great to get these updated for the Oct 2020 release so they all have, at minimum, the learning objective(s), prerequisites, and estimated time to complete sections. As applicable, include a tutorial resources tab (e.g., to link github repos for the website rendering tutorials). See style guide and/or

[2020-09-18 20:27] marisalim opened #227 "Update landing pg format for mime type tutorial"
The mime type tutorial has all the landing page info, but the layout style has changed so it needs an update (e.g., prereqs and tutorial resources should be the tabbed box format now).

[2020-09-18 21:12] #219 closed, assigned to marisalim

[2020-09-21 13:30] ACharbonneau commented on #186
I got an email from wendy that they have added names to our list, so make sure we get the additions, but i think we're good to send

[2020-09-21 16:24] ACharbonneau commented on #195
@josesanchez1815 can you add @ctb to meeting emails and doodle polls from now on, and also forward him the ones we've already done in case he can attend?

[2020-09-21 23:12] jeremywalter commented on #189
With the group mail list up, reminders can go live as directed.

[2020-09-21 23:14] jeremywalter commented on #186
https://docs.google.com/spreadsheets/d/1TIMAb7u8AfKMkn4mA7H610K0sJzWLORJw3JU_qj4_Yg/edit#gid=0

Mailling list populated from above list which is combined CFDE groups and master list.

[2020-09-21 23:17] jeremywalter commented on #187
All e-mails have been added to the CP Group. Calendar is in the group (where zoom links can be found).
Question:

For upcoming/future events do we want to send out e-mails for each event? Announcements for each event? How much is not enough and how much is too much? @ACharbonneau

[2020-09-22 00:14] #224 closed, assigned to marisalim

[2020-09-22 00:14] #226 closed, assigned to marisalim

[2020-09-22 03:29] #222 closed, assigned to abhijna

[2020-09-22 03:29] #223 closed, assigned to abhijna

[2020-09-22 03:29] #122 closed

[2020-09-22 03:29] #123 closed

[2020-09-22 03:29] #127 closed

[2020-09-22 03:29] #128 closed

[2020-09-22 03:29] #168 closed, assigned to abhijna

[2020-09-22 03:29] #169 closed, assigned to abhijna

[2020-09-22 03:29] #170 closed, assigned to abhijna

[2020-09-22 03:29] #171 closed, assigned to abhijna

[2020-09-22 03:29] #172 closed, assigned to abhijna

[2020-09-22 03:29] #173 closed, assigned to abhijna

[2020-09-22 22:23] ACharbonneau commented on #187
that announcement looks good to me. The only change/input i have is that you should include an attachment with the meeting zoom as well so that it's easy to put on your calendar.

[2020-09-22 22:25] jeremywalter commented on #187
I'm attaching the .ics (just can't see on the draft) :P

[2020-09-23 15:52] ACharbonneau commented on #210
@josesanchez1815 Can you resend this email with updated time options, and be sure to include Chris, it looks like you missed him the first time

[2020-09-23 18:36] jeremywalter commented on #202
I added the above (updated) link in a recent CP communication and a couple people clicked on it. I approved a person from a DCC and a member of our team. This triggered a paid feature in Slack which would require dib-lab to go on a paid subscription with 90 days or potentially lose stored data and triggered features. This might explain why the first person that joined, and was approved, immediatel

[2020-09-23 20:35] ACharbonneau commented on #202
i sent Jeremy a better link. We should add it to the meetings with a note that it is an updated link

[2020-09-23 22:35] josesanchez1815 commented on #211
Good Afternoon Everyone,
I hope you are all doing well!
I am sending out a doodle poll to ask for your schedule availability. Could you please fill this out so we may schedule these regular bi-weekly meetings?
https://doodle.com/poll/pqxugmnzawfff3ee

If none of these dates work for you , could you please let us know which dates and times are most convenient for you?
Thank you,
Jose Sanchez

@ACha

[2020-09-23 22:37] josesanchez1815 commented on #211
I just wanted to share before I send out an email. I'm still worried that there are only two 1 hour time slots available after reviewing your schedule and Owen's.

[2020-09-23 22:56] ACharbonneau commented on #211
please wait on this and lets chat in the morning

[2020-09-24 15:58] jeremywalter commented on #202
~~https://join.slack.com/t/cfdeworkspace/shared_invite/enQtOTM0MDQ5NjU4NDM2LWIxNDE4OTI3N2NmZjdkZmMwYjkzNzQwYzM0NTY4ZjZmY2I1NDhjMWFmZDM1YTkxY2YxYzQ4ZTEwNTlkNDgxNjc~~

https://join.slack.com/t/cfdeworkspace/shared_invite/zt-hupdgmhw-ZzSUc8Oau3DTpfBr4PccKg

[2020-09-24 17:21] #225 closed, assigned to s-canchi

[2020-09-24 17:21] #227 closed, assigned to s-canchi

[2020-09-25 18:22] jeremywalter commented on #188
Sent Thursday Sept 24

![image](https://user-images.githubusercontent.com/40613731/94302659-67480c00-ff21-11ea-82a6-4a3d9e8dde2b.png)

[2020-09-25 18:24] jeremywalter commented on #188
Proposed: send out an [agenda](https://docs.google.com/document/d/1njHqjM5RE9jhmAi5orMtnvtakulcHFcGUm9HyYn1ATo/edit?usp=sharing) to participating DCCs with speaker roles filled in and TBD for those that haven't responded on Tuesday, Sept 29.

[2020-09-25 18:40] josesanchez1815 commented on #208
Update from Jose: Need to send an email to schedule Bi-weekly times for GTEX

[2020-09-25 18:46] josesanchez1815 commented on #210
Update: Trying to schedule an onboarding meeting: Waiting on two more members on the email list to list doodle times.
Planning to email again to fill out. Plus not everyone is onboarded

People on our list for SPARC who need to onboard:

Peter Hunter
Bernard de Bono
Maryann Martone

People on Our list for SPARC who have yet to fill out the doodle poll.

Jyl Boline
Peter Hunter
Maryann Martone

[2020-09-25 20:45] ACharbonneau commented on #208
sorry, i talked to owen about the repeating times yesterday and am working on getting you a better schedule. poke me monday

[2020-09-25 22:31] josesanchez1815 commented on #211
Update from Jose: Send out emails to set up bi-weekly meetings for LINCS. Similar situation as GTEx

[2020-09-25 23:06] josesanchez1815 commented on #196
Update: Jose needs to do this for

- Metabolomics
- IDG
- Ex-RNA
- HubMap

[2020-09-28 18:01] jeremywalter commented on #187
Reminder from groups.io went out today (for kickoff meeting on Septebmer 29)... it does not adjust for time zones. I followed up with a special announcement highlighting PT and ET time. Future announcements will be made manually.

[2020-09-28 18:13] jeremywalter opened #231 "CP Schedule + RSVP numbers"
This issue will update and track RSVPs for upcoming Common Fund Data Ecosystem (CFDE) Cross-Pollination Events. These numbers can be found by clicking on the calendar events in groups.io and then the View Responses button for RSVPs at the bottom of each event: https://groups.io/g/CrossPollinationEvents/calendar

Date | Meeting | RSVPs | Actual
-- | -- | -- | --
6/1/2021 | CurIndex | |
5/10/2021 |

[2020-09-28 19:10] s-canchi commented on #231
It will be good to add the actual attendance column for the event to this table to compare. Are we keeping track of participants list for each event and is there a way to export the list from zoom ?

[2020-09-28 19:12] jeremywalter commented on #231
yes, further tracking is happening... this issue is just for the RSVPs as it has specifically been requested

[2020-09-28 20:53] jeremywalter commented on #189
Reminders go out to preset default time zones (calibrated to the calendar). Users have to individually adjust their calendars for automation to be successful, SO I will be sending out manual reminders the day before each meeting. If instructed to I can also send a reminder 1 week before meetings to everyone in the group.

Template for reminder e-mails is in this document:
https://docs.google.com/d

[2020-09-28 22:27] josesanchez1815 commented on #216
Update: sent HubMAP some an email to set up a time for onboarding.

[2020-09-28 22:27] josesanchez1815 commented on #212
Update: Sent Kids First an email to set up an onboarding meeting.

[2020-09-28 22:45] ACharbonneau commented on #189
I think that an email right after the event that says something like "we just finished blah, remember to join us next week for blah" would be good. And a reminder the day before.

I'm open to moving the week before one to just before the this week event if someone else thinks that's a good idea.

[2020-09-29 15:13] josesanchez1815 commented on #210
# Sparc Onboarding Meeting
### Thursday, October 1, 2020 @ 8am PST (11AM EST)

[2020-09-29 23:55] josesanchez1815 commented on #216
Waiting on responses for a doodle poll.

[2020-09-30 15:55] josesanchez1815 commented on #208
Update: Jose is gathering times for the CFDE-CC and GTEx to establish regular bi-weekly meetings via doodle poll.

[2020-09-30 15:56] josesanchez1815 commented on #211
Update: Jose is gathering times for the CFDE-CC and GTEx to establish regular bi-weekly meetings via doodle poll.

[2020-09-30 16:02] abhijna opened #233 "GWAS General: Can data download be streamlined?"
Some have found it possible to download the dog coat color data directly onto AWS. This would streamline the process quite a bit. Do some testing to see why it works for some but not others and change tutorial accordingly

[2020-09-30 21:47] josesanchez1815 commented on #211
Good Afternoon Everyone!

I hope you all are having a good week.
I set up a [doodle poll](https://doodle.com/poll/sm2bkd6iaysi2knq)  to check for your availability to attend biweekly meetings to ask any questions or provide feedback in regards to the CFDE project management system. Please fill out as soon as possible, so we may schedule a zoom meeting.

Thank you,

Jose Sanchez

[2020-09-30 21:47] josesanchez1815 commented on #211
@ACharbonneau

[2020-09-30 21:48] josesanchez1815 commented on #208
Good Afternoon Everyone!

I hope you all are having a good week.
I set up a doodle poll to check for your availability to attend biweekly meetings to ask any questions or provide feedback in regards to the CFDE project management system. Please fill out as soon as possible, so we may schedule a zoom meeting.

Thank you,

Jose Sanchez

[2020-09-30 21:48] josesanchez1815 commented on #208
@ACharbonneau

[2020-09-30 22:54] josesanchez1815 commented on #208
Sent a doodle poll for GTEx availability for biweekly meetings.

[2020-09-30 23:28] josesanchez1815 commented on #215
Sent an email with a doodle poll asking for availability

[2020-09-30 23:28] josesanchez1815 commented on #214
Sent an email with a doodle poll asking for their availability.

[2020-09-30 23:29] josesanchez1815 commented on #213
Sent an email asking for their availability

10.01.20 Email Sent for set onboarding meeting.

[2020-10-01 22:48] josesanchez1815 commented on #213
# IDG Onboarding Meeting
### Thursday, October 15, 2020 @ 8AM-9AM

[2020-10-01 23:48] josesanchez1815 commented on #211
# Biweekly Meeting
### Wednesday October 7, 2020 @ 9:30am PST (12:30pm EST)

[2020-10-01 23:51] josesanchez1815 commented on #211
Email draft for review.

Good Afternoon Everyone!

I have us scheduled for our first bi-weekly meeting on Wednesday, October 7, at 9:30am-10am PST.
Here is the zoom link [insert zoom link] and I have included an attachment for our agenda https://docs.google.com/document/d/1lR1BgNhMYU_099ZUpvBqtkIKGoX0gD0pFn8ZWEK9dQ0/edit.
Thank you,

Jose Sanchez
@ACharbonneau @jeremywalter (still need to put info

[2020-10-02 17:10] ACharbonneau commented on #211
Not sure what I'm supposed to do here. Please just schedule things and send the emails, if we don't get these on peoples calendars, the times are going to get filled.

[2020-10-02 21:30] marisalim commented on #221
tracking tutorials with image syntax that has been edited:

tutorial | status
--- | ---
KF | done
Gen Tutorial AWS | done
cfde-bot | done
Snakemake | done
GWAS | done
AWS | done
CFDE portal | done

(add any that are missing from this list)

[2020-10-04 16:11] ACharbonneau commented on #211
Pretty sure @jeremywalter sent this...please update issue

[2020-10-04 20:48] jeremywalter commented on #211
This went out Friday, Oct 2 with a follow up message from @ACharbonneau detailing time zones and adding a calendar invite.

Good Afternoon Everyone!
Your first scheduled bi-weekly meeting will be on Wednesday, October 7, at 9:30am-10am PST.

The agenda for the meetings is here: LINCS Running Agenda

Cheers,

Jeremy Walter

Training Coordinator - CFDE-CC

[2020-10-06 20:37] marisalim opened #236 "cfde-bot branch workflow"
The current cfde-bot tutorial says to push changes from your branch to the `stable` branch for welcome/usecases/published docs websites. We may update this process to be your branch -> `dev` with occasional pushes from `dev` to `stable`, pending how the training website release plan format goes. Just making a note of this for future me.

[2020-10-07 17:18] abhijna commented on #185
Comments from a third party reviewer:

It is helpful to see the draft page. I do find the organization of the page a bit confusing (for example, as a novice I would expect ‘CF Tutorials’ to have information about how to find/use the data/tools from CF programs). Do you think its possible to organize the content around some main topics/headers? Maybe something like: General Tutorials, Tutorials for

[2020-10-07 18:11] ACharbonneau commented on #198
https://github.com/nih-cfde/organization/blob/master/projectmanagement/AddingIssuesToEpics.md

[2020-10-07 18:11] #198 closed, assigned to ACharbonneau

[2020-10-07 18:11] #202 closed, assigned to jeremywalter

[2020-10-07 18:49] josesanchez1815 opened #237 "Keeping track of plug-in updates"
One issue we faced is the mkdocs-material needed to be updated and it caused issues when trying to render on readthedocs.

We need to find a way to automate plug-in updates as changes come up.
This is a space to generate ideas about how to keep track of any plug ins that need version updates.

[2020-10-07 18:53] ACharbonneau commented on #237
A small point of clarification: The plugins *do* automatically update unless you specifically 'freeze' them tell them not to update. We have not frozen versions of any plugins on any of our sites. They all automatically update. The issue is that when the people who write the plugins update their plugins, they do not always write them with backwards compatible syntax. So, we need to make sure that

[2020-10-07 19:06] marisalim commented on #237
for reference, this is the mkdocs changelog/upgrade/deprecations page: https://squidfunk.github.io/mkdocs-material/changelog/

[2020-10-07 23:34] josesanchez1815 commented on #214
# Metabolomics Onboarding
### Monday, October 12, 2020 @ 10am PST 1pm EST

[2020-10-07 23:36] josesanchez1815 commented on #212
# Kids First Onboarding
### Thursday, October 15, 2020 6am PST 9am EST

[2020-10-07 23:57] josesanchez1815 commented on #212
Email will be sent out to Kids First 10/8/2020.

[2020-10-07 23:59] josesanchez1815 commented on #215
# Ex-RNA Onboarding
### Wednesday, October 14, 2020 @ 9am PST 12pm EST

[2020-10-08 00:00] josesanchez1815 commented on #216
# HuBMAP Onboarding
### Thursday, October 7, 2020, 8am PST 11am PST

[2020-10-08 00:05] josesanchez1815 commented on #210
need to follow up with biweekly meeting schedules
prioritizing other onboards

[2020-10-08 05:21] s-canchi commented on #185
Based on DCC feedback reorg is now part of the upcoming cycle. Current plan is to group by topics and persona. Will evaluate and reorg as necessary for next cycle.

[2020-10-08 19:24] jeremywalter opened #238 "Naming tutorials"
For a more consistent and visually pleasing web-site and easier construction of release notes I suggest adopting a formal naming convention for tutorials:

- [ ] using formal capitalized titles (example):
+  Rendering a GitHub website locally with Jekyll -> Rendering a GitHub Website Locally with Jekyll

- [ ] including titles (or agreed upon shorthand) in PR titles (example):
+ Rendering a GitHub

[2020-10-08 19:43] s-canchi commented on #238
On a related note, it would be good to have some of template or format for the PR titles as well that give information of the tutorial title, and main point of the PR.

[2020-10-08 20:46] abhijna commented on #233
- Figure out which paper the dog coat color dataset came from.
- Where is the original dataset stored?
- Try something other than cyverse for hosting the dataset

[2020-10-08 21:42] s-canchi opened #239 "Reorganization of the tutorial resources"
Currently we host tutorial images under one centralized folder but host additional tutorial resources such as screencasts, example files, scripts etc within the tutorial folder. With the growing list of associated images, it would be better to reorganize the images into either tutorial specific folders or split them back to the original tutorial folder. The tutorial specific resources will also be

[2020-10-09 03:39] marisalim commented on #238
When we do the great nav bar tab reorganization, we could edit a few of the titles since we'll be editing the file paths anyways... i.e., if there are obvious title candidates to edit.

[2020-10-09 16:54] s-canchi opened #240 "Customize social media icons location"
The social media icons and the links by default render in the footer of the website. It would be preferable if they appear next to the search bar on the top right corner.

<img src="https://user-images.githubusercontent.com/62918474/96287301-94269680-0f96-11eb-9963-e7e318675798.png" width="800" height="400" />

[2020-10-09 20:35] #209 closed, assigned to s-canchi

[2020-10-09 20:48] jeremywalter commented on #238
From the Google sheet... these are the ones that I would rename
Old | New
-- | --
| Rendering a GitHub website locally with MkDocs | **Rendering a GitHub Website Locally with MkDocs**
| Editing Mkdocs websites with cfde-bot | **Editing MkDocs Websites with cfde-bot**
| Set up Conda computing enviornment | **Setup Conda Computing Environment**
| Rendering a GitHub website locally with Sphinx | **Re

[2020-10-09 22:26] josesanchez1815 commented on #210
Email Template for Bi-Weekly Meetings
Good Afternoon Everyone,

I hope you are all doing well!

I am sending out a doodle poll to ask for your schedule availability. Could you please fill this out so we may schedule regular bi-weekly meetings?

Thank you,

Jose Sanchez

[2020-10-09 22:35] josesanchez1815 commented on #216
Email Template for Bi-Weekly Meetings
Good Afternoon Everyone,

I hope you are all doing well!

I am sending out a doodle poll to ask for your schedule availability . Could you please fill this out so we may schedule regular bi-weekly meetings?

Thank you,

Jose Sanchez

[2020-10-09 22:36] josesanchez1815 commented on #213
Email Template for Bi-Weekly Meetings
Good Afternoon Everyone,

I hope you are all doing well!

I am sending out a doodle poll to ask for your schedule availability. Could you please fill this out so we may schedule regular bi-weekly meetings?

Thank you,

Jose Sanchez

[2020-10-09 22:36] josesanchez1815 commented on #214
Email Template for Bi-Weekly Meetings
Good Afternoon Everyone,

I hope you are all doing well!

I am sending out a doodle poll to ask for your schedule availability. Could you please fill this out so we may schedule regular bi-weekly meetings?

Thank you,

Jose Sanchez

[2020-10-09 22:37] josesanchez1815 commented on #215
Email Template for Bi-Weekly Meetings
Good Afternoon Everyone,

I hope you are all doing well!

I am sending out a doodle poll to ask for your schedule availability. Could you please fill this out so we may schedule regular bi-weekly meetings?

Thank you,

Jose Sanchez

[2020-10-10 04:46] #185 closed, assigned to nobody

[2020-10-10 04:46] #238 closed, assigned to nobody

[2020-10-13 15:49] s-canchi opened #245 "Update landing page with image slider"
Integrate the landing page with a image slider which is clickable linked to the lessons as a way to offer the user the different tutorials that are available. The slider should be customizable and should work on multiple platforms and modes.

[2020-10-13 17:43] s-canchi commented on #245
Suggestions on what the front matter should look like including images are requested. A dedicated format, color scheme and content are all up for discussion.

[2020-10-14 23:43] josesanchez1815 commented on #240
I would like to try and look into this too!

[2020-10-15 20:08] abhijna commented on #240
Feel free to assign yourself Jose :)

[2020-10-15 23:46] jeremywalter commented on #189
currently invitations go out the day of or day after a meeting with a reminder the day before... all going out through groups.io, but sent manually because the reminders function sends out mismatched timezones

[2020-10-15 23:46] #189 closed, assigned to jeremywalter

[2020-10-16 15:43] ACharbonneau commented on #207
@lliming in https://github.com/nih-cfde/training-and-engagement/issues/176#issuecomment-693535998 you mentioned that  "I am working on specific recommendations for managing these Epic 1 groups (onboarding DCC reviewers) in a separate issue" Is that this issue? or another one? I think you said you had finished it, but I'm struggling to find things today :(

[2020-10-16 15:55] lliming commented on #207
Here is the issue:
https://github.com/nih-cfde/security/issues/6

And here is the doc with the recommendations in it:
https://github.com/nih-cfde/security/blob/master/epic-1-groups/epic-1-groups.md

[2020-10-16 16:43] ACharbonneau commented on #207
thank you!

[2020-10-16 18:03] s-canchi commented on #245
From @ACharbonneau

[2020-10-16 18:09] jeremywalter commented on #192
Meeting Summaries end up here and linked in agendas:
https://drive.google.com/drive/folders/1ZbDeyHEVs7CX9atTmueMwmiUEoQd4jkJ?usp=sharing

[2020-10-16 18:10] jeremywalter commented on #188
Lightning talks concluded (for now)

[2020-10-16 18:10] #188 closed, assigned to jeremywalter

[2020-10-16 18:11] jeremywalter commented on #190
established with sub-folders for recordings, notes, slides, etc

[2020-10-16 18:11] #190 closed, assigned to ACharbonneau, jeremywalter

[2020-10-16 18:13] jeremywalter commented on #187
Announcements are made post-meeting or next day for the upcoming meeting... reminders sent out manually the day before. Mails go out through groups.io (but not using groups.io automation).

[2020-10-16 18:13] jeremywalter commented on #186
CP onboarding now included in general onboarding so that all new onboards will be automatically added to CP

[2020-10-16 18:13] #186 closed, assigned to jeremywalter

[2020-10-17 00:00] josesanchez1815 commented on #240
Small Quick notes for Jose
Relevant Files:
- mkdocs.yml
- extra.css
- [Customize Icons In Material for Mkdocs](https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/)
- [HTML+CSS](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/style)

The Attribute List extension, which is part of the standard Markdown library, allows to add HTML attributes and CSS classes to Mark

[2020-10-20 21:51] josesanchez1815 opened #251 "Update training and engagment Links"
Sorry, I really will put comments in github, but another just sort of general knowledge thing I want to spread is to give out links to “https://cfde-training-and-engagement.readthedocs-hosted.com” not “https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/” for all the sites
12:10
the first one will resolve to ‘latest’. And if we decide to have RTD make the default site “https://cf

[2020-10-20 22:55] jeremywalter opened #252 "Fill out Jira open license application"
Link for application :
https://www.atlassian.com/software/views/open-source-license-request

Application (bold for things that we need filled out)

Atlassian Open Source License Application Form

**Project Name
Project URL
Project Description**

Would you like Server or Cloud?* Cloud

Which server product license(s) are you applying for?
(I highlighted what we have been using... not sure what Ques

[2020-10-20 22:57] #252 closed, assigned to nobody

[2020-10-20 23:32] josesanchez1815 commented on #211
Email Template
Good Afternoon Everyone!
Your next scheduled bi-weekly meeting will be on [Date] at [Time] PST (Time) EST.

The agenda for the meetings is here: [Insert DCC Running Agenda](insert hyperlink)

Cheers,

Jose Sanchez

Training Coordinator - CFDE-CC

[2020-10-21 20:02] josesanchez1815 commented on #214
# Metabolomics 1st Bi Weekly Meeting
## Monday, November 2, 2020 @ 8am PST (11am EST)

[2020-10-21 20:05] josesanchez1815 commented on #214
CFDE - Metabolomics Bi-Weekly Meeting
Good Afternoon Everyone!
Your next scheduled bi-weekly meeting will be on Monday, November 2, 2020 @ 8am PST (11am EST)
 at 8am PST (11am EST).

The agenda for the meetings is here: [Metabolomics Running Agenda](https://docs.google.com/document/d/1cl6DuJkAK7y_Fbo8bRCVQYbXkIjrm7J0xNvJXcMEGc0/edit)

Here is the Zoom Meeting Link: [Metabolomics BiWeekly](https://

[2020-10-21 21:51] josesanchez1815 commented on #210
Email Template: Sending Schedule
Good Afternoon Everyone!
Your next scheduled bi-weekly meeting will be on [Date] at [Time] PST (Time) EST.

The agenda for the meetings is here: [Insert DCC Running Agenda](insert hyperlink)

Cheers,

Jose Sanchez

Training Coordinator - CFDE-CC

[2020-10-21 21:52] josesanchez1815 commented on #210
# CFDE - SPARC Bi-Weekly Meeting
## Thursday, November 5, 2020 @ 10-10:30AM PST (1-1:30pm EST)

[2020-10-21 22:42] josesanchez1815 commented on #215
# CFDE - Ex-RNA Bi-Weekly Meeting
## Friday, October 30th, 2020 at 7:30-8am PST (10:30-11am EST)

[2020-10-21 23:05] josesanchez1815 commented on #212
# CFDE - Kids First Bi-Weekly Meeting
## Friday, October 30th, 2020 @ 9:30am PST (12:30pm EST)

[2020-10-21 23:23] josesanchez1815 commented on #213
# CFDE - IDG Bi-Weekly Meetings
## Thursday, October 29th, 2020 @ 9-9:30am PST (12-12:30pm EST)

[2020-10-22 16:27] josesanchez1815 commented on #208
# GTEx Bi Weekly Meeting
## Thursday, October 22, 2020 8am PDT (11am EDT)

[2020-10-22 16:30] marisalim commented on #237
In the Oct release, I added a section to the [style guide](https://cfde-training-and-engagement.readthedocs-hosted.com/en/latest/CFDE-Internal-Training/Website-Style-Guide/1WebsiteNavStyle/#website-features) on checking the changelog and how to update plugins.

[2020-10-22 16:37] #208 closed, assigned to josesanchez1815

[2020-10-22 16:37] josesanchez1815 commented on #210
Set up Onboarding and Bi-Weekly Meetings: Done!

[2020-10-22 16:37] josesanchez1815 commented on #211
Done!

[2020-10-22 16:37] #211 closed, assigned to josesanchez1815

[2020-10-22 16:38] #210 closed, assigned to josesanchez1815

[2020-10-22 16:38] josesanchez1815 commented on #212
Onboarding and Bi-Weekly Meetings set! Done!

[2020-10-22 16:38] #212 closed, assigned to josesanchez1815

[2020-10-22 16:40] josesanchez1815 commented on #213
Done!

[2020-10-22 16:40] #213 closed, assigned to josesanchez1815

[2020-10-22 16:40] josesanchez1815 commented on #214
Done!

[2020-10-22 16:40] #214 closed, assigned to josesanchez1815

[2020-10-22 16:40] josesanchez1815 commented on #215
Done!

[2020-10-22 16:40] #215 closed, assigned to josesanchez1815

[2020-10-22 16:41] josesanchez1815 commented on #216
Done!

[2020-10-22 16:41] #216 closed, assigned to josesanchez1815

[2020-10-22 16:49] ACharbonneau commented on #245
Did you already try lightbox? there's a recipe for mkdocs: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Recipes#lightbox-add-on-using-theme_dir

[2020-10-22 16:49] ACharbonneau commented on #245
Replacing the TOC recipe: https://github.com/mkdocs/mkdocs/wiki/MkDocs-Recipes#remove-the-table-of-contents-sidebar-from-the-mkdocs-theme

[2020-10-22 16:57] marisalim commented on #11
CP is happening now! can this be closed?

[2020-10-22 17:37] s-canchi commented on #245
I have been working on solutions and this is what the website looks like now:
![Screen Shot 2020-10-22 at 10 35 11 AM](https://user-images.githubusercontent.com/36385305/96909107-68058c80-1452-11eb-9830-29b5ff7c98ad.png)

There are more things to fix and I have slowly been testing out the different features to make them responsive.

[2020-10-22 17:44] abhijna commented on #245
look very nice @s-canchi! Is this in compliance with the new theme?

[2020-10-22 17:46] s-canchi commented on #245
The colors are customizable. The blue is from our current style guide and the teal was close to the proposed style guide.

[2020-10-22 17:48] abhijna commented on #112
This got split into smaller issues and got done for oct release.

[2020-10-22 17:48] #112 closed

[2020-10-22 17:49] abhijna opened #253 "GWAS general motivation"
Two more comments to address for Dec release..

- [ ] A lot of the stuff in here doesn't have obvious motivation. Why should I assign alternate alleles? Why do I want to calculate missingness rates? Why am I ignoring sex? Why am I installing qqman? What is ghostscript? Why would I do any of this actually?

- [ ]  Think about your audience. They do not remotely care about dog genetics. They want to

[2020-10-22 17:54] marisalim commented on #245
looks nice! how do the other sections look? e.g., Bioinformatics Skills landing pg

[2020-10-22 18:00] s-canchi commented on #245
Not very different except the footer color.
![Screen Shot 2020-10-22 at 10 58 52 AM](https://user-images.githubusercontent.com/36385305/96911441-b5372d80-1455-11eb-8d7c-ad91fa453af5.png)
![Screen Shot 2020-10-22 at 10 59 06 AM](https://user-images.githubusercontent.com/36385305/96911451-b700f100-1455-11eb-8502-966617f49c5d.png)

[2020-10-22 18:05] josesanchez1815 commented on #195
Funded DCC Onboarding Completed!

[2020-10-22 18:05] #195 closed, assigned to josesanchez1815

[2020-10-22 18:06] josesanchez1815 commented on #196
Done!

[2020-10-22 18:06] #196 closed, assigned to josesanchez1815

[2020-10-26 18:41] s-canchi opened #254 "Add Jira helpdesk link"
We will be updating the help email link to Jira Helpdesk email. This is will either be via the Jira Widget or update the current help email on the training website.

[2020-10-29 21:17] #177 closed, assigned to ACharbonneau

[2020-10-29 21:18] ACharbonneau commented on #139
talked to everyone. reported to @nih-cfde/c2m2 team about needed changes

[2020-10-29 21:18] #139 closed, assigned to ACharbonneau

[2020-10-29 21:21] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 21:29] ACharbonneau commented on #42
LINCS dropped this from their deliverables.

@ACharbonneau

[2020-10-29 21:29] #42 closed

[2020-10-29 21:33] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 21:33] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 21:36] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 21:49] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 21:52] ACharbonneau commented on #139
@cfde-bot

[2020-10-29 22:17] ACharbonneau opened #255 "testing an integration"
@nih-cfde/api

[2020-10-29 22:29] ACharbonneau commented on #255
test take 2 @nih-cfde/api

[2020-10-29 22:31] #255 closed, assigned to nobody

[2020-10-30 19:21] ACharbonneau opened #256 "Create valid testing data submission"
@ACharbonneau commented on [Fri Oct 30 2020](https://github.com/nih-cfde/planning-docs/issues/80)

[2020-10-30 19:22] ACharbonneau opened #257 "Create toy submission data set for level 0"
@ACharbonneau commented on [Fri Oct 30 2020](https://github.com/nih-cfde/planning-docs/issues/79)

[2020-10-30 19:23] ACharbonneau opened #258 "Tutorial/walkthrough of data submission process"
@ACharbonneau commented on [Thu Oct 15 2020](https://github.com/nih-cfde/planning-docs/issues/75)

[2020-10-30 19:28] ACharbonneau opened #259 "Documentation for configuring Data Submission Tool"
A user should be able to consult this documentation and learn how to a acquire, install and configure the submission tool

[2020-11-05 21:03] s-canchi commented on #259
Is the tool already available ? If so where can I find it and does it have some guidelines to get started ?

[2020-11-05 21:09] ACharbonneau commented on #259
I'll update this with info when I have it.

[2020-11-07 00:15] marisalim commented on #236
will need to update this tutorial re: how to edit the published docs website, now that there is a new submodule for specs repo. some steps described in published docs [readme](https://github.com/nih-cfde/published-documentation/blob/dev/README.md).

[2020-11-08 16:45] abhijna opened #262 "GWAS general code fix"
There's a piece of code that installs ALL the dependencies that somehow got deleted during the last website release. @abhijna will add it in for the December release.

[2020-11-10 17:28] ACharbonneau opened #264 "DCCs need to appoint a person who works with us on alpha for submission"

[2020-11-10 17:29] ACharbonneau opened #265 "C2M2, DCCs, portal teams do ~weekly meeting to work on alpha"

[2020-11-10 21:51] josesanchez1815 opened #266 "CFDE Data Submission Work Group Meeting"
We need to start setting up Work Group Meetings:
Details can be found below:

@ACharbonneau

[2020-11-10 22:56] ACharbonneau commented on #266
@carlkesselman @owhite This is to set up the meeting Carl proposed today during the tech call. So that we can have data submitters work with us directly over the next couple months.

Who would be good on our side for attending this?

[2020-11-11 00:57] abhijna opened #267 "Fastq read simulation for tutorials and workshops"
Find a good fastq read simulator and write a tutorial on how to use it.

[2020-11-11 15:29] ACharbonneau opened #268 "2021 Cross Pollination Series"
Every first Tuesday of the month we're having a CP event. Need to start working on the schedule and getting meetings setup.

Let's just use the same zoom meeting ID for all of them, and just not put it in the google space? We can send it out via the mailing list, and not post it publicly and that should be ok.

[2020-11-11 15:30] ACharbonneau opened #269 "Cross Pollination Meeting 0"
Dec 1 with SPARC https://github.com/nih-cfde/SPARC/issues/11
Title: Establishing the CFDE Anatomy Working Group

Contacts: Bernard de Bono (please contact by email when needed) and @jylb

[2020-11-11 15:40] ACharbonneau opened #270 "New web address"
We're moving all the sites to be in the same domain.

This one is going to be training.nih-cfde.org

Need someone in @nih-cfde/training to work out how we do a custom domain in RTD, preferably with either keeping the original address working or having some kind of redirect that keeps the original from just showing a 404.

I've got a bit of code in [this PR](https://github.com/nih-cfde/use-case-lib

[2020-11-11 16:05] ACharbonneau commented on #268
This is the epic that holds all the CP meetings for the new series. I did a lot of issue set up for the first meeting series, but for these, I'm still going to come to them all, and I'm fine with doing the hello/introducing the speaker, but I would like to be much, much less involved in making them all run.

So, please make issues for the tasks you need to do and either do those things, or assign

[2020-11-11 16:27] abhijna opened #271 "Upload files to Cavatica using the command line uploader thing"
This tutorial is the official tutorial but it has got some confusing parts: https://docs.cavatica.org/v1.0/docs/upload-via-the-command-line.

For other tutorials we need to be able to transfer fastq data files from AWS to Cavatica. Here are some steps:

Install java on AWS
Download the uploader onto AWS
Figure out how to use it
Related to simulated data issue #191

[2020-11-11 21:41] ACharbonneau opened #272 "The submission tool should have the option to submit to NOT the production globus group"
This is important for both writing the tutorials (which requires a lot of submitting different things and getting screenshots of the process), and for new DCCs who have just set up the tool and want to submit a test dataset to make sure the configuration is working. It's always nice to test new software with a known good dataset to make sure the tool is working properly before putting in data with

[2020-11-12 19:25] ACharbonneau commented on #270
from Victor: The CNAMES have been defined. But none of the 3 seem to be honored by github or readthedocs.

[2020-11-12 19:27] ctb commented on #270
On Thu, Nov 12, 2020 at 11:25:54AM -0800, Amanda Charbonneau wrote:

right, they need to be configured on the receiving end.

[2020-11-12 20:23] jeremywalter commented on #269
@ACharbonneau are there extra steps required of me here beyond sending out the invitations and setting up the zoom meeting (in line with what we've been doing up to now?). I read this as an extension of what we've been doing, but if I need to do something with the contacts above and for future meetings, please advise.

[2020-11-13 20:00] s-canchi commented on #270
@ACharbonneau - what is the CNAME for the training website ? These are steps that need to happen for the current training website address to resolve to **training.nih-cfde.org**
- Add a CNAME record from _af23275e7437771d056a644dc53948b9.training.nih-cfde.org to _verify362493cb.domains.readthedocs.com to verify ownership of your domain.
- Wait for SSL certificate issuance and domain configuration

[2020-11-15 16:12] ctb commented on #270
thanks, saranya!

a few comments --

## training.nih-cfde.org already resolves (via CNAME) to cfde-training-and-engagement.readthedocs-hosted.com
[code]

## the verification stuff etc will need to be done by the owner(s) of nih-cfde.org

I believe that's the UMD folk, so, out of our control.

[2020-11-16 16:47] ACharbonneau commented on #270
I have no idea what I'm supposed to do here. If it is something other than nothing, please tell me.

[2020-11-16 16:53] ctb commented on #270
Hi @ACharbonneau I think that the DNS manager needs to take on the three tasks above -- I believe that's Victor, but I don't know his GitHub ID. I'll send this to him on slack.

[2020-11-16 17:59] s-canchi commented on #270
The domain name has been successfully updated. The website is: https://training.nih-cfde.org/en/latest/

[2020-11-16 18:09] ACharbonneau commented on #270
please close issues when they're done

[2020-11-16 18:09] #270 closed, assigned to s-canchi

[2020-11-17 00:21] #187 closed, assigned to jeremywalter

[2020-11-17 00:22] jeremywalter commented on #192
This process converted to curated transcripts that are available in the same folder as recordings and linked in all agendas.

[2020-11-17 00:22] #192 closed, assigned to jeremywalter

[2020-11-17 00:22] jeremywalter commented on #191
Complete

[2020-11-17 00:22] #191 closed, assigned to jeremywalter

[2020-11-17 00:41] josesanchez1815 commented on #266
@carlkesselman @owhite

[2020-11-19 17:33] abradyIGS opened #275 "Please update published slides from Arthur's webinars on 10/13 and 10/20"
the versions of the two talks i've put [here](https://drive.google.com/drive/u/0/folders/1cRIRG2CPWb8M9XSKyM7BKNvRPUx9z-OH) supersede those posted [here](https://drive.google.com/drive/u/0/folders/1ufBh88ZLIPJBRWE5jH3DQ5awhIAjO_IJ).

i don't have edit access to the cross-pollination storage area: please remove the five copies of my two talks from [the CP folder](https://drive.google.com/drive/u/0/

[2020-11-19 17:45] jeremywalter commented on #275
Copied and moved to the CP folder, old files in the trash.

[2020-11-19 17:45] #275 closed, assigned to ACharbonneau, jeremywalter

[2020-11-19 18:10] abradyIGS commented on #275
many thanks!

[2020-11-19 18:17] jeremywalter commented on #269
Agenda template shared with SPARC team Nov 13, awaiting feedback and instruction on details for their meeting:

https://docs.google.com/document/d/1pw1qkHxn0UdVirYsEfiOlEMOMS9yE73Dy-FmnhaxK5M/edit?usp=sharing

[2020-11-20 01:59] #221 closed, assigned to marisalim

[2020-11-20 18:48] jeremywalter opened #276 "Cross-Pollination Meeting 1"
January 5, 2021

[**AGENDA**](https://docs.google.com/document/d/1RW3DnSnNT1wgODqDr1ix2nBv9q-SO_L7_arylfrRrBw/edit?usp=sharing)

Kids First - Project Plans
                - Cross platform Cloud Compute (?)
Contact: Allison Heath

CFDE-CC - Ontology Working Group
Contact: Michelle Giglio

[2020-11-20 18:50] jeremywalter opened #277 "Cross-Pollination Meeting 2"
February 2, 2021
**Postponed SPARC**
SPARC: Connectivity Knowledge Base
~30 minutes incl Q/A
Contacts: Bernard de Bono, Maryann Martone

LINCS: Appyter Demo
~30 minutes incl Q/A
Contact: Avi Ma'ayan

NIH:
~30 minutes
Contact: Chris Kinsinger

[2020-11-20 23:35] s-canchi opened #278 "Corrections to CFDE logo"
The current version of logo with the white outline looks skewed. The logo with the white outline however stand out against the  dark background. This version also does not have the CFDE spelled out. To keep consistency, require the logo with CFDE spelled out with white outline and scaled to correct dimensions. Also require a favicon of the logo without the CFDE spelled out (48x48 in RGB).
Preview

[2020-11-20 23:38] s-canchi commented on #239
Are we still doing this for Dec release ?

[2020-11-24 18:50] #181 closed, assigned to nobody

[2020-11-25 17:45] ACharbonneau opened #279 "DCC data curators for interface guru interviews"
I need all of the PIs from all of the DCCs sent an email asking them to participate in interviews with interface guru. An email I sent earlier this year is below, you can just change the dates/times and reuse it.

Dates/times:

week of 12/14. Specifically Tuesday - Thursday, plus Saturday, for the dates. Let’s say 10am MT / 12pm MT / 2pm MT / 4pm MT.

Be sure to list the times in Eastern and Pacif

[2020-11-25 17:49] s-canchi commented on #278
From Amanda:

My thoughts:
- One version with white outline for logo and letters with the green letters in white
- Version two with the logo outline in white without CFDE spelled out but the image being a more rectangular dimension so it doesn't skew

[2020-11-25 17:49] s-canchi commented on #278
Need to give a aspect ratio based on MkDocs calculations for image dimensions. Also need a favicon.

[2020-11-25 21:52] marisalim commented on #239
reorg tutorial images into separate subfolders within tutorial folders.

- [x] reminder to @marisalim to edit the style guide to update where to save images + "Est. cost" tab for cloud computing tutorials

[2020-12-01 00:44] josesanchez1815 commented on #279
@jeremywalter

[2020-12-03 21:48] abhijna opened #281 "GWAS tutorial AWS screenshot edits"
Screenshots need to be updated to reflect the new EC2 experience
- [x]  GWAS AWS tutorial

[2020-12-03 22:24] abhijna commented on #200
@marisalim @jeremywalter @josesanchez1815
Can you all please look at [these screencasts](https://training.nih-cfde.org/en/latest/Bioinformatics-Skills/Kids-First/Download_Data/Data-Download-Via-Cavatica/) and give me your thoughts?

@s-canchi already gave her comments (read above).
I really rather not make them again if possible :(

[2020-12-03 22:48] marisalim commented on #200
is it possible to crop asciinema screencasts? the only edits I'd make for now would be to trim off the multiple `exit` statements at the end of the `wget` vidlet.. maybe the first bit with z shell too.

i think the spaces between the code lines make it easier to read actually, so i'd leave that formatting in. the download jumble of text can be intimidating, so i think it's helpful to show this is

[2020-12-03 23:02] jeremywalter commented on #200
I don't think I have any particularly useful feedback to add... I can drop a couple of comments for future thoughts:
1) there are some typos (but that's pretty hard to avoid in live screen cast (the first is the word desktop (DEsktop) in the first line of text...
2) speed... I don't see a speed-up option, so typing out a lot of text can mean the viewer has to be quite patient
3) funny stuff -- I l

[2020-12-03 23:14] jeremywalter commented on #279
Jose deployed an e-mail and only got one response back offering a Friday (not available) meeting time. I contacted IG with this information and now they are conferring and checking in with tech on the state of wire frames. We await further direction on possible meeting times and participants.

[2020-12-04 16:13] jeremywalter opened #284 "Cross-Pollination Meeting 3"
March 2, 2021

**Metabolomics** -  Contact Shankar Subramaniam
Srini Presenter
(~45 min)

GTEx - Contact Jared Nedzel

[2020-12-04 16:15] #269 closed, assigned to jeremywalter

[2020-12-04 17:57] jeremywalter commented on #268
check with Katy Borner HuBMAP for a slot

[2020-12-04 17:58] jeremywalter commented on #284
Possibly Ex-RNA? (perhaps April)

[2020-12-05 04:07] abhijna commented on #200
I managed to edit it!!! It was a crazy amount of mindless work. But it looks pretty good now I think:
https://asciinema.org/a/Z8T6lt0UHjHXw5YNA7dzyUDF2

[2020-12-05 04:59] marisalim commented on #200
Nice! Please share how you edited the screencasts! :) i can add notes to the style guide.

[2020-12-06 17:47] abhijna commented on #200
This is the second vidlet:  https://asciinema.org/a/eYJihFaM7c4TlTRavNAy3IkOO

[2020-12-06 17:53] abhijna commented on #200
How to edit asciinema screen casts:

1) Download the screencast from your asciinema account (.cast file)
2) Open in text editor (e.g. atom)
3) The file looks like this:

[code]
4) You can edit timestamps to speed or slow things down, crop the video, and edit the words, capitalization, spacing, etc that appear on the screen cast.

5) Save you changes and view those changes as you go by replaying on

[2020-12-06 23:09] abhijna commented on #253
Postponed to next release

[2020-12-07 17:34] josesanchez1815 commented on #200
Wow, this looks like it was a lot of work. Thanks Abhijna!

[2020-12-07 21:51] marisalim commented on #200
use this syntax to embed local .cast files in tutorial markdown:

[code]

[2020-12-08 18:11] #239 closed, assigned to nobody

[2020-12-08 22:44] #237 closed, assigned to nobody

[2020-12-08 22:44] #240 closed, assigned to josesanchez1815

[2020-12-09 00:10] abhijna opened #288 "Add a screencast to the Cavatica uploader tutorial?"
Thoughts from @s-canchi

Thinking as a user without much familiarity of the Cavatica interface, I like the visual impact of the screenshots with the circled sections, such that when I go back to the Cavatica interface I can go by visual memory instead of text. Clicking back and forth between two separate tutorials may not be ideal as we want to keep them modular, and hence my suggestion a screen-c

[2020-12-09 00:12] abhijna opened #289 "md5sum on Cavatica"
Thoughts from @s-canchi

This is tricky indeed not just for this tutorial but for data in general. So I think of two ways to get this information in Cavatica.

- Approach one would be verify the md5sum of the files on AWS after download from osf and add the md5sum as a metadata point for the downloaded file to show in the Cavatica interface. This however assumes that the data file integrity is sus

[2020-12-11 18:25] #11 closed

[2020-12-15 08:15] s-canchi opened #292 "Updates to KF tutorial based on latest Portal UI"
This issues is a reminder to update the KF tutorials with the latest changes to portal UI. It also provides fixes to some of the errors in the current tutorial which is the basis for the KF pilot workshop on Dec 17th.

- The first exercise is subsetting to participants based on age. How can you achieve this using the plots ?
On the plots you can only select one bar newborns or [1,5] but not both
h

[2020-12-15 17:46] jgaff commented on #259
@NickolausDS and I have made this document on the tool's installation and usage: https://github.com/nih-cfde/cfde-submit/blob/client-dev/README.rst
Does that address this use case sufficiently?

[2020-12-15 19:15] ACharbonneau commented on #259
@jgaff This is great :) Is the infrastructure such that I can run through and test it to make sure the instructions work?

[2020-12-15 19:19] jgaff commented on #259
I believe the Production environment may not be ready, but I think Staging would be usable. @NickolausDS is that accurate?
You can select an environment with the flag `--service-instance=env_name` for `dev`, `staging`, or `prod` (this option isn't in the README documentation because as I understand users are not intended to ever use non-Prod environments).

[2020-12-15 19:32] #266 closed, assigned to josesanchez1815

[2020-12-15 19:33] ACharbonneau commented on #259
excellent. thanks!

[2020-12-15 22:47] NickolausDS commented on #259
Yes, Production isn't running and that will cause you to get a warning when using the cfde-submit client. However, you can still run it using the dev or staging environments:

[code]

[2020-12-17 00:45] #200 closed, assigned to abhijna

[2020-12-17 00:45] #262 closed, assigned to abhijna

[2020-12-17 00:45] #267 closed, assigned to abhijna

[2020-12-17 00:45] #271 closed, assigned to abhijna

[2020-12-17 23:53] marisalim opened #293 "Save options in KF portal"
In the pilot KF workshop, we showed how to save participant sets and save/share queries. These would be good additions to the current KF tutorial materials.

[2020-12-17 23:53] marisalim commented on #293
Some notes to build in new lesson:

Say you wanted to save this particular participant set. We can click “Save participants set” as a new set. Going to rename it as “0 to 5”.

The saved participants set are useful if you want to add the same query set without re-entering it. So, I can clear all the filters by clicking the garbage can icon, click “Delete”. And now select a filter from My Sets. Here

[2020-12-18 00:55] #292 closed, assigned to nobody

[2020-12-18 17:33] #236 closed, assigned to marisalim

[2020-12-18 17:38] ACharbonneau commented on #284
Katy Borner from HuBMAP would like to present either in march (if shankar isn't) or april

[2020-12-18 18:09] #245 closed, assigned to s-canchi

[2020-12-18 18:09] #254 closed, assigned to nobody

[2020-12-18 18:09] #278 closed, assigned to nobody

[2020-12-18 19:13] marisalim opened #294 "Make a Github auth token tutorial"
add as an internal CFDE tutorial --

[code]

- https://git-scm.com/docs/git-credential-store
- https://docs.github.com/en/free-pro-team@latest/github/using-git/updating-credentials-from-the-macos-keychain
- https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/
- https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/configuring-two-factor-aut

[2020-12-18 20:34] s-canchi commented on #294
Steps from @ACharbonneau
So, re github. you can either use ssh, or set up two factor auth. I went with two factor, because the button was there.

- https://github.com/settings/security
- click button
- setup with phone or whatever
- then make a PAT: https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token scoped to all ‘repo’ nothing else
- t

[2020-12-18 20:39] s-canchi opened #297 "Home Page improvements: carousel box resize and autoplay"
- [x] The home page has a carousel feature. However on page screens , it does not resize and there is white space on the right. We want it to resize to browser to reduce white space.

- [ ]  The images and text in the carousel are static. We want to be able to have autoplay with clickable text/image.

- [x] The bottom boxes all have different sizes. It would be good to have them all be equal size

[2020-12-18 20:43] s-canchi opened #298 "Add announcement widget and streamline workshop details on home page"
Currently we manually add the past workshop details to the page. We need to be able to create an additional document to source it from.

Or the best outcome would be to add a widget for automatic content update so as to avoid PR based updates to workshop details.

[2020-12-18 22:08] jeremywalter opened #300 "Cross-Pollination Meeting 4"
April 6, 2021

[2020-12-18 22:20] jeremywalter commented on #276
Kids First:
Speakers/Org: Allison Heath (CHOP), Adam Resnick (CHOP), and Michele Mattioni (SBG)
Title of talk: Kids First - Future Collaborations and Multi-Cloud Opportunities
Duration (allowing time for Q&A): 60 minutes (50 mins for content, 10 mins for Q+A)
Description of talk: During this session, we will review the Kids First team, data, and infrastructure. We will continue with two future-ori

[2020-12-18 22:22] jeremywalter commented on #300
ExRNA
Contact: Matt Roth
HuBMAP
Contact: Katy Borner

[2020-12-21 17:50] #251 closed, assigned to josesanchez1815

[2020-12-21 19:51] ACharbonneau commented on #297
I'm pretty sure the [bootstrap carousel](https://getbootstrap.com/docs/4.3/components/carousel/) should address these issues, since our website is ultimately a bootstrap theme and should understand it.

[2020-12-21 20:19] #279 closed, assigned to jeremywalter, josesanchez1815

[2020-12-22 17:10] marisalim opened #302 "CFDE portal lesson overview not rendered"
the index page needs to added to the .pages and index.md yaml header missing `title:`

https://training.nih-cfde.org/en/latest/Bioinformatics-Skills/CFDE-Portal/Blood-Cancer/blood-cancer-portal-export/

[2020-12-29 23:49] jeremywalter commented on #276
January Cross-Pollination Event
A CFDE Cross-Pollination Event

Tuesday, Jan 5, 2021 - 11am (PT) / 2pm (ET)
Where: https://zoom.us/j/99791103122?pwd=aGJ3OG8rRk4wVW00aDM3Rms3ZGRFZz09

Organizer: CFDE-CC CrossPollinationEvents+owner@groups.io

[2021-01-04 19:12] abhijna opened #305 "Website left navigation panel"
The left navigation bar for the website is pretty clunky. When you expand multiple tabs, it jumps around a little bit and it is easy to lose track of which tab one was on. @jeremywalter brought this up a few months ago and I've just fully understood the problem.

[2021-01-04 19:15] marisalim commented on #305
is part of the problem long titles that wrap onto 2 lines in the nav bar?

[2021-01-04 19:19] abhijna commented on #305
Long titles don't help, but I don't think that's necessarily it. As we add more stuff, these nav bars are getting really long and there's just a lot of text if you have multiple tabs open. I think there might be a better way to orient the user about where they are in the nav tree.

[2021-01-04 19:22] abhijna commented on #305
hmm.. the solution may be as simple as highlighting the page (on the left nav bar) that one is currently viewing

[2021-01-04 20:14] s-canchi commented on #297
I tried the Bootstrap carousel previously, but cannot figure out how to use it without overriding the default theme specs. If anyone knows how please share!

[2021-01-04 20:14] s-canchi commented on #302
thank you for fixing this!

[2021-01-04 20:16] s-canchi commented on #305
Can you screenshot this ? Currently the title of currently viewed page is highlighted in blue in the left nav bar.

[2021-01-04 20:25] #302 closed, assigned to marisalim

[2021-01-05 01:10] jeremywalter commented on #284
Follow-up requests sent out to Jared and Shankar for confirmation on these speaking slots.

[2021-01-07 17:05] jeremywalter opened #307 "Cross-Pollination Meeting 5"
May 4, 2021
IDG - 1 hour - Mapping and Matching DataSets: TCRD Thus Far.
~Allison 	Bailey	allison.bailey@mssm.edu~
Christina	Klauber	Klauber@salud.unm.edu
SPARC - 30 min - Interlex and Term Mapping

[2021-01-11 21:50] josesanchez1815 opened #309 "All Hands PI meeting"
This Issue is here for us to check for all of the PI's availability within April/May for a meeting. @ACharbonneau
We want to make sure that we don't schedule this meeting with other big CP meetings, holidays, etc.

[2021-01-12 00:06] josesanchez1815 opened #310 "CFDE Training & Outreach"
[CFDE Training Tracker](https://docs.google.com/spreadsheets/d/1eEox9qDziTVS00CROlgrgEUfBCpjRK3zU7PZbiHoMrY/edit#gid=1474863644)

So, in the Outreach Groups tab of this google sheet I have started assembling some possible groups we can advertise our trainings to... I was thinking we can build upon this list as our trainings increase.

[2021-01-12 16:55] #310 closed, assigned to nobody

[2021-01-14 00:26] #276 closed, assigned to jeremywalter

[2021-01-14 19:09] josesanchez1815 opened #311 "Deriva API/Python SDK Testing"
Need tutorials about deriva API/Python SDK.

Someone might want to use an API to access the portal or might want to use the python SDK to access it programatically

[Link](https://docs.derivacloud.org/deriva-py/index.html)

[2021-01-14 19:50] ACharbonneau commented on #309
Not
- first week of June
-  week of June 21st
- april 15 or 16
- NCPI meeting May 3-4
- BioData Catalyst quarterly June 2-3
- May: 6-7, 10, 24
- June: 3-4, 14, 24-25.

[2021-01-14 20:01] ACharbonneau commented on #311
Not quite. You definitely don't need to use an API to use the portal. The portal has a UI. Someone *might* want to use an API to access the portal or *might* want to use the python SDK to access it programatically. So, if the API/SDK seem useful, we could think about writing tutorials for them in the future.

[2021-01-15 17:15] ACharbonneau commented on #309
Not:

NCPI meeting May 3-4
BioData Catalyst quarterly June 2-3

[2021-01-19 14:43] mattrBCM commented on #309
Can you clarify: how long is this PI meeting - 1 hr, half day? Is it for PIs only, or can say, the project manager attend?

[2021-01-19 17:10] ACharbonneau commented on #309
As soon as we have an actual plan we'll send out that kind of info :)

[2021-01-19 23:52] jeremywalter opened #312 "Cross-Pollination Meeting 2.2 - R03"
https://docs.google.com/document/d/1nTC-7ZaoKVmzNqJ8-kby_O25GxPFogQBCxOLv1aoAic/edit?usp=sharing

[2021-01-19 23:54] jeremywalter opened #313 "Cross-Pollination Meeting 3.2"
https://docs.google.com/document/d/1hKPdAs82zqcUZQjMPRcRtUvAkhdIR2ibW2VLn9P_ZZg/edit?usp=sharing

[2021-01-20 01:29] jeremywalter commented on #300
https://docs.google.com/document/d/1U7iIg-HCH0JIDBcenO-SKRRShVqQEKV3PYRAlO_3l-w/edit

[2021-01-22 20:53] marisalim opened #314 "conda tutorial things to edit"
this issue will store some things I want to add to/clarify in the existing conda installation tutorial.

- [x] for channel set up, add defaults (lesson currently lists only bioconda and conda-forge)
[code]
- [x] clean up conda commands - for example: why do `conda env list` and `conda info --envs` give the same results? or sometimes conda env commands are `conda env create` or `conda create` witho

[2021-01-22 21:43] jeremywalter commented on #312
Tuesday, Feb 16, 2021 - 11am (PT) / 2pm (ET)
https://zoom.us/j/99791103122?pwd=aGJ3OG8rRk4wVW00aDM3Rms3ZGRFZz09
Volunteers:
Jing Zhu <jzhu@soe.ucsc.edu>
Jeffrey Kidd <jmkidd@med.umich.edu>
Titus?

[2021-01-26 19:23] jeremywalter opened #315 "Cross-Pollination Meeting 6"
June
SPARC - 30 min
CFDE - Tamer - 40 min

[2021-01-29 02:40] s-canchi opened #317 "Tutorials to run RNAseq on Cavatica"
Create user friendly tutorials to run RNAseq on Cavatica. It should use data from KF and be completely all on the platform.

[2021-01-30 01:01] marisalim opened #319 "Text highlighting for buttons in tutorials"
Currently, text that tutorials say to click are in quotes (click "File Repository"), but these can get lost in the sea of words in our lessons. @s-canchi implemented text highlighting by adding this to the extra.css file:

[code]

The color is set to purple website-wide, and for consistency, I think we should keep it one color across tutorials. The syntax is this for the markdown files:
[code]

an

[2021-01-30 01:33] s-canchi opened #320 "Highlight all levels in left side navigation and disable all tabs feature"
Currently we use MkDocs-material theme for the training website. We have nested tutorial structure which can be lost in the left side TOC. Only the selected lesson is highlighted in light blue shade. What we would prefer is for all the top level folders to be highlighted so as to keep track of lesson origin even when the tab is collapsed.

Screenshot below highlights the issue:

![Screen Shot 2021

[2021-01-31 17:40] abhijna opened #322 "AWS tutorial edits"
- [x] change screenshots to new experience
- [x] add termination page
- [x] add web browser connect page

These changes will help run our AWS trainings smoother.

[2021-01-31 17:41] abhijna commented on #322
This has been fixed in #321

[2021-02-02 16:07] ACharbonneau opened #326 "Acceptance testing of Epic 1 and 2"
This testing has two big pieces:
- Testing that new functions work as intended
- Checking that previous functionality still works as intended

We are doing all of our testing in [Staging](https://app-staging.nih-cfde.org/).

--------

## [New functionality Tests](https://github.com/nih-cfde/dashboard/issues/22):

### Quick tests

Home page
- [ ] Download button style now matches wireframe
- [ ] ch

[2021-02-02 20:34] josesanchez1815 commented on #277
[meeting_saved_chat (2).txt](https://github.com/nih-cfde/training-and-engagement/files/5914307/meeting_saved_chat.2.txt)

[2021-02-03 18:50] jeremywalter commented on #277
[Agenda](https://docs.google.com/document/d/14aD2faJstEj7AdnBanlaqbM81rbPEFLgI71WpA3IhaU/edit?usp=sharing)
Recording
Slides
Transcripts

[2021-02-04 20:41] #314 closed, assigned to marisalim

[2021-02-05 20:42] #319 closed, assigned to marisalim, s-canchi

[2021-02-09 16:02] ACharbonneau commented on #326
# Use Case Testing form

### Reminders: Test on [staging](https://app-staging.nih-cfde.org/)! Test in incognito browser!!

**Reviewer**:
**Date of review**:
**Time of review (with timezone!!!)**:
**OS (including version)**:
**Browser (including version)**:
**Use case**:
**Review type**: <manual or Selenium>
**Role groups**: <either not logged in or exactly record all group names> <click your name

[2021-02-09 20:49] #294 closed, assigned to marisalim, s-canchi

[2021-02-09 21:52] marisalim opened #330 "Update training site style guide"
- [x] add text highlight syntax

Text highlighting is specified in the "extra.css" file with this block:

[code]

The color is set to purple website-wide. Use this syntax in markdown files, where the highlighted text here is "File Repository":
[code]

[2021-02-10 00:58] s-canchi commented on #330
Would it be worthwhile to add a new section that lists our flyers and other documents we generate for our workshops ? The color and font info are below. Flyers have been created in Canva.

The Hex color codes for the CFDE palette from the training website:

- Main Headers: #336699
- Table headings/ landing page : #C3E1E6
- Footer: #204060

Fonts Used So Far & Sizes

- Workshop Header: Lora 37.5 Fo

[2021-02-10 07:35] s-canchi opened #332 "Update release workflow to be agnostic to release month and year"
The release workflow depends on appropriate labels to categorize and select the PRs for release notes. However hardcoding months and years is not a sustainable approach. This issue will be subsequently addressed in a PR pending further testing.

[2021-02-10 07:37] s-canchi commented on #320
Related to #305

[2021-02-10 07:38] s-canchi commented on #320
The all tab render issue will be fixed in Feb release. It stemmed from a conflict coming from a using the custom partial nav file.

[2021-02-10 07:40] s-canchi commented on #332
Update release plan and style guide if testing of alternative is successful

[2021-02-10 17:06] josesanchez1815 opened #333 "How to Encourage Zoom Meeting Participation"
We want to use this as a place to store ideas people have tried or want to try to encourage zoom meeting participation.
For @josesanchez1815, it would be awesome to see other participant's videos. If we can encourage people to turn on their videos for a full meeting, that would be a grand accomplishment!

[2021-02-10 21:40] s-canchi commented on #333
- Ice breaker topics/games
- alternative site for engaging (google docs/slack/etherpad etc)
- stretch breaks
- zoom chat consensus building

[2021-02-10 22:01] marisalim commented on #333
[EasyRetro](https://easyretro.io/) (previously called FunRetro) for brainstorming

[2021-02-10 23:02] #332 closed, assigned to s-canchi

[2021-02-12 00:24] marisalim commented on #326
I'll be adding my reviews to this comment:

Use case | Review
--- | ---
1 |  https://hackmd.io/QXwwSjowTVuykHoG9vyu9A?edit --> now updated for review on staging
2 | https://hackmd.io/zIYOcnMeRcygH8l8mbx5OA?view --> now updated for review on staging
8 |  https://hackmd.io/klIOHOxGQK6n93JhhDog8g?view
9 | https://hackmd.io/k6GupdmjQy-stCxn8ttuzw?edit

[2021-02-12 15:04] ACharbonneau commented on #326
Sorry, testing use case 8, 9 and 10 is going to be slightly more complicated than I thought. I need you to have different permissions for each one. So, below is a table of what your role will be for each use case, **I need you to do them one at a time, and notify me so I can change your permissions before you start the next one.** I also will need you to tell me when you're done so I can remove yo

[2021-02-12 15:08] ACharbonneau commented on #326
@marisalim It looks like you didn't test staging? That's where all the changes are. Sorry, but I'll need you to go through it again on the right server.

Everyone else @nih-cfde/training be sure you're looking at STAGING

[2021-02-12 16:16] ACharbonneau commented on #326
Other notes that will hopefully help others (Thanks to @marisalim for being guinea pig and showing me the places that need clarification 🥇  )

In both the form and the first comment there is a link called `Link to QA screens for reference`, which is all of the wireframes the quicktests is talking about, for your reference. It shows the new, button styles, etc. It does not show the new color palett

[2021-02-12 20:23] josesanchez1815 commented on #326
@ACharbonneau  HI I would like to test the number 10 use case

[2021-02-12 20:26] josesanchez1815 commented on #326
I'll be adding my reviews to these comments:

Use case | Review
--- | ---
1 | https://hackmd.io/src-seiVTwaNcgcGXmuizQ
6 | https://hackmd.io/jPIdMIcfTn2Z28ayw3fSmA
10 | https://hackmd.io/7CM9p-kMTyi8ts3JPflhxw

[2021-02-12 23:27] josesanchez1815 commented on #326
Amanda "Re: acceptance testing. Can all of you start with the previous functionality use cases and tell me when you have completed yours. Then I will give you the extra permissions to try the new functionality. I don't want you to test public stuff as admins I need it tested as the public."

[2021-02-15 22:30] marisalim commented on #333
Google Jamboards

[2021-02-17 00:08] marisalim commented on #326
@ACharbonneau I've completed my review for UC8, ready to review UC9!

[2021-02-17 01:13] s-canchi commented on #326
My individual use case reviews:

Use case | Use case type| Review
--- | --- | ---
[uc-0002 ](https://use-cases.nih-cfde.org/uc-0002/) | Previous Functionality Test | https://hackmd.io/Tc5x7u8NRreu-MF2nfZ0Mw?view
[uc-0007](https://use-cases.nih-cfde.org/uc-0007/) | Previous Functionality Test | https://hackmd.io/Ihvvtdk8TkirRLYLuqOBjA?view
[uc-0009](https://use-cases.nih-cfde.org/uc-0009/) | New Fu

[2021-02-17 21:46] marisalim commented on #326
@s-canchi @abhijna @josesanchez1815 I added a new section to the review form (also below) to help test the portal by breaking things! 🔨

### Testing user permissions functionality

If you are a Reviewer or Submitter, please try the following and document steps with screenshots (including computer clock):

- [ ] On the "Submitted Datapackage" page, I can click the pencil icon
- [ ] I can edit 1 or

[2021-02-17 23:51] abhijna commented on #326
Use case | Review
--- | ---
[uc-0008](https://use-cases.nih-cfde.org/uc-0008/) | https://hackmd.io/vQCAThVbScaInbhXfVpaAQ?view
[uc-0007](https://use-cases.nih-cfde.org/uc-0007/) |  https://hackmd.io/iQPIEsm9SkOs6NBGtxyAVA?view
[uc-0006](https://use-cases.nih-cfde.org/uc-0006/) | https://hackmd.io/EOkBXwktQAuPrhtyYP7k8A?view

[2021-02-18 14:30] ACharbonneau commented on #326
Please be sure you are doing your portal testing with permissions in an incognito browser
We’re having some problems with changing permissions not updating properly

Can you all please include the clock in screenshots for testing
It helps me show that problems aren’t due to system time-out or doing steps in the wrong order

[2021-02-18 14:31] ACharbonneau commented on #326
Reviewers: Read only, can look but not change things
Submitters: can use the submission tool and see things, but not change submission status
Approver: can’t submit, but can change existing submission statuses

If you notice that you can do something you don't think you should be able to based on those descriptions, please document it

[2021-02-18 15:51] ACharbonneau commented on #326
Hey @nih-cfde/training I'm reviewing your reviews as I see them appear, and you are finding some really useful things. But, I need you to explore the errors you find and document them a lot more. I have given you use cases as a guide so you have some specific steps to do, but we are testing this system before we send it to the public, and we are testing the whole thing. When you notice something i

[2021-02-19 17:43] lliming opened #337 "Training/Engagement - Personalized Dashboard"
This is a Zenhub sub-epic for tracking Training & Engagement issues related to the Personalized Dashboard epic. Please link relevant issues here.

Feature area: Profile page
- Add profile page material to training modules

Feature area: Dashboard page
- Change dashboard material in training modules

Feature area: Privacy policy
- Review proposed privacy policy with DCC representatives

[2021-02-21 00:33] marisalim commented on #330
- [x] add emoji syntax

e.g., `:fontawesome-regular-trash-alt:`

specified in mkdocs.yml by:
[code]

[2021-02-21 00:34] #293 closed, assigned to marisalim

[2021-02-21 17:42] #322 closed, assigned to abhijna

[2021-02-22 19:33] ACharbonneau commented on #326
Other things to add to this process:

Well that’s annoying. This is your notification I guess :slightly_smiling_face: If you have a review without notes from me, but where you found problems, please tell me. I think I got them all, but I might have missed

We should probably put them all the reviews into a spreadsheet or something where we can track which ones are done, and checked and have issues

[2021-02-22 23:59] s-canchi commented on #326
I have updated my test forms to reply your comments. The weird thing is that many of the bugs that we encountered during testing were fixed, which is making replicating the issues hard. Before the next iteration of tests we want to:
- refine the use case descriptions to eliminate some of the guesswork involved (and multiple interpretations)
- refine the testing form for ease of recording and ease

[2021-02-23 15:35] ACharbonneau commented on #326
The only things that were updated on the portal were the permissions for the edit button that I asked ya'll to retest as they fixed it, and they did the restart yesterday to fix a permissions issue from my use case. But, they aren't actively changing things or fixing bugs as you test. I'm not sure why there were so many things ya'll reported that you couldn't replicate, but it's not that they're c

[2021-02-23 15:42] ctb commented on #326
Hi @s-canchi and others,

This shifts a lot of the burden to the person writing the use case. I would suggest instead documenting what guesses you had to make, and what your alternative guesses were, when you were doing the testing. This would then help refine the use cases and/or generate new use cases, which is quite valuable.

I also note that overly precise use cases can be problematic. We're

[2021-02-23 16:34] josesanchez1815 commented on #326
Could I get the special permissions I need to run Use Case 10 if possible?

[2021-02-23 16:35] josesanchez1815 commented on #326
May I have the special permissions I need for use case 10? I have completed use cases 1 and 6!
@ACharbonneau

10 | Approver | Metabolomics | Jose
-- | -- | -- | --

[2021-02-23 16:48] ACharbonneau commented on #326
Since hackmd doesn't notify, perhaps it would be useful if the review templates were more like a guide to what to do, and issues actually went into a spreadsheet or similar, one problem per row. Then we could make sure that each one was checked and is a real issue, I could track which ones I've submitted as issues and mark them as they're fixed, and which ones need more info.

[2021-02-23 16:50] ctb commented on #326
On Tue, Feb 23, 2021 at 08:48:39AM -0800, Amanda Charbonneau wrote:

notifications CAN happen -

https://hackmd.io/settings#notification

[2021-02-23 17:20] josesanchez1815 commented on #326
@ACharbonneau I can start the spreadsheet if you would like!

[2021-02-23 18:04] ACharbonneau commented on #326
Nope. Like I said at the meeting last week, I want ya'll to do a retrospective of how this review process went and to decide how you want to do it next time. There is no reason to make new resources before you've decided what you're going to do.

[2021-02-24 16:05] josesanchez1815 opened #338 "Selenium Files for Use Case Testing"
So Far I have use case 1,6 and working on 10. Goal is to be able to go through as many use cases as possible throughout the week.
Process Workflow: I go through the use cases and fill out these form templates to the best of my ability that Amanda created for use case testing. As I go through it once and become familiar with the staging CFDE Portal, then I run through the tasks I performed again, b

[2021-02-24 16:16] ctb commented on #338
thanks, jose!

it looks like you have to be logged in to start with, which is good to specify :). I haven't been able to run the first use case myself, it fails at step 8. Could you detail what kind of setup & preparation you need to do?

[2021-02-24 16:21] ACharbonneau commented on #338
I haven't looked at these at all, but you should only need to login for 10.

[2021-02-24 16:32] josesanchez1815 commented on #338
@ctb @ACharbonneau

Hi! Ok I think I didn't follow directions as I logged into the portal with jsanchez1815@gmail.com for Use Case 1 and 6. I can redo the use cases without logging in.

@ctb I will document my setup a little better.

[2021-02-24 18:02] #281 closed, assigned to abhijna

[2021-02-24 19:32] josesanchez1815 commented on #338
[Use Cases_nih_cfde_2.zip](https://github.com/nih-cfde/training-and-engagement/files/6038323/Use.Cases_nih_cfde_2.zip)

Some important things to note. I need to redo the use case 6 and use case 10. I had some difficulty using the selenium software. I am confident you will be able to run use case 1.

**Starting page** : https://app-staging.nih-cfde.org/
**Browser:** Google Chrome

When Running Use

[2021-02-24 19:43] josesanchez1815 commented on #338
Something I have yet to figure out, is if I can automate the clicking of the Search all collections button and explore button. I am sure there is. otherwise the program pauses until I manually click those buttons.

[2021-02-24 19:57] #317 closed, assigned to s-canchi

[2021-02-24 20:09] ctb commented on #338
right now it's getting stuck on "click on id=search collections"

would it be possible for you to give me a short video of you going through it, perhaps with some narrations? you can just start up a zoom and screen share and record to cloud, and then send me that link. I just don't know how to debug it right now.

[2021-02-24 20:12] josesanchez1815 commented on #338
That does sound like a better idea. Sure!

________________________________
From: C. Titus Brown <notifications@github.com>
Sent: Wednesday, February 24, 2021 12:09 PM
To: nih-cfde/training-and-engagement <training-and-engagement@noreply.github.com>
Cc: Jose Manuel Sanchez <ronsanchez@ucdavis.edu>; Author <author@noreply.github.com>
Subject: Re: [nih-cfde/training-and-engagement] Selenium Files fo

[2021-02-24 20:48] ACharbonneau commented on #338
So, I have a hot take about [this comment](https://github.com/nih-cfde/training-and-engagement/issues/338#issuecomment-785320195) which is that if this is for use case 1, there is no reason to go to contained biosample or click explore.

To do this use case you would:

- go here https://app-staging.nih-cfde.org/ (technically https://app.nih-cfde.org/ but staging is the testing server)
- click on c

[2021-02-24 20:56] ctb commented on #338
my own hot take: would prefer something that works, end to end, over refinement for a specific use case (for the moment).

[2021-02-24 20:59] s-canchi commented on #338
I was trying selenium for use case 7 and got it to work for the first half but it gets stuck in the second half where we clear the search bar to type a new search criterion. The process was without logging into the portal/interface.

I will redo the test to include both search criterion at the same time in the search bar to see if that works and share the test file if successful :)

[2021-02-24 22:19] josesanchez1815 commented on #338
https://user-images.githubusercontent.com/62918474/109073494-4db31800-76ab-11eb-9ce6-2e4f6bb82fdf.mp4

[2021-02-24 22:57] s-canchi commented on #330
- [x] add header syntax style

Use the `===` under the titles for landing page. To ensure the contents occupy the full width of the page use

[code]
in the yaml format on top of the page.

[2021-02-25 00:45] marisalim opened #343 "additional notes for release process"
Add to/edit https://github.com/nih-cfde/training-and-engagement/blob/dev/docs/TrainingRepoReleasePlan/TrainingRepo-Release-Plan.md

Part 1 - Add new release notes for website
- make a new branch
- copy contents of `index.md` in Release notes directory to a new markdown doc named <Month-Year.md>
- copy draft release notes from Github Releases page to `index.md` and edit
    - remember to edit yaml

[2021-02-25 00:56] s-canchi commented on #297
Fixed two of the three in February release.

[2021-02-25 00:57] s-canchi commented on #298
Currently have linked the events calendar to the homepage but we want to be able to add a widget.

[2021-02-25 18:12] s-canchi opened #344 "Website reorg to improve navigation"
With most of the new lessons focussed on the Bioinformatics tab, it currently become very heavy for the left side TOC. We want to reorg the website to spread out the lessons in their own headers and remove unused headers (web development --> CFDE internal) and create a new tab for DCC content.

[2021-02-25 18:47] josesanchez1815 commented on #338
I will need someone else to test it, but use case 6 should be useful for a demo. Still working on fixing up use case 1 to be useable as I have to manually click on buttons for the selenium program to keep on running.

[2021-02-26 16:12] #46 closed

[2021-02-26 16:12] ACharbonneau opened #345 "Onboard DCC Individuals to Globus groups"
I need to onboard at least submitters and approvers for:

- [x] Kids First
- [x] GTEx
- [x] LINCS
- [x] IDG
- [ ] SPARC
- [x] HuBMAP
- [x] HMP
- [x] ExRNA
- [x] Metabolomics

And maybe also for:

- [ ] MoTrPAC
- [x] 4DN

So they can start using the system.

[2021-02-26 17:11] ACharbonneau commented on #309
@jeremywalter could you update this issue please

[2021-02-26 17:13] ACharbonneau commented on #265
I've been meeting with DCCs to get their submissions ready. LINCS and IDG have made submissions. The others are still working, but we're about to release the submission system so I'm closing this as it will be in beta

[2021-02-26 17:13] #265 closed, assigned to nobody

[2021-02-26 17:14] ACharbonneau commented on #259
this has been updated, and will be included in the docs site https://github.com/nih-cfde/published-documentation/issues/138

[2021-02-26 17:14] #259 closed, assigned to rpwagner, NickolausDS, jgaff, fridayek

[2021-02-26 17:18] #264 closed, assigned to nobody

[2021-02-26 17:20] ACharbonneau commented on #257
We're getting rid of the concept of 0 and 1

[2021-02-26 17:20] #257 closed, assigned to ACharbonneau

[2021-02-26 17:22] ACharbonneau commented on #256
We're getting rid of the concept of 0 and 1, and it's also really unclear how to build a useful toy dataset. I think what we really want is a "this will for sure validate" dataset instead, that someone can use to be sure their submission tool works

[2021-02-26 17:23] #142 closed, assigned to ACharbonneau

[2021-02-26 17:23] #143 closed, assigned to ACharbonneau

[2021-02-26 17:51] jeremywalter commented on #309
Posted in CFDE Announcements 02-22
Invitations deployed via CFDE mailing list and Cross-Pollination mailing list

CFDE Program Meeting
A major CFDE Program meeting is scheduled for May 10-11, 2021 with presentations and activities taking place from 11am EST until 4pm EST (8am-1pm PST) on both days. All CFDE participants are encouraged to attend two days of workshops and talks on a range of topics.

[2021-02-26 20:15] s-canchi commented on #338
I ran the @ctb edited version of the use case 6 but ran into the same problems that I previously saw when I was testing uc007.
https://www.loom.com/share/c8ebb2732f71470ca3a57f33f6eb3939

p.s - I forgot to turn off the microphone for this, so ensure to mute the video for the static noise.

[2021-02-26 21:39] ACharbonneau commented on #345
As a DCC you have 3 role options for users of the submission system:
- Reviewer: Basically read only. They can see submitted packages, but can’t do anything with them. You can have as many of these as you want.
- Submitter: Can submit data packages, but can’t approve a package for inclusion in the pubic portal. You can have as many of these as you want.
- Approver: Can approve a submitted package

[2021-03-02 20:31] ACharbonneau commented on #345
Enrolled 4 people for HuBMAP from Kevin Hanshaw email

[2021-03-03 19:43] ACharbonneau commented on #326
We tested all the things! Issues for broken things were created in various repos with the label "testing" and either fixed or put in the backlog.

@nih-cfde/training if they don't already exist someone please make issues for:

- retrospective of review process: https://github.com/dib-lab/cfde/issues/355
- fixing this testing process to be more streamlined/useful: https://github.com/dib-lab/cfde/is

[2021-03-03 19:58] ACharbonneau commented on #345
Enrolled 7 people for LINCS from Sherry Jenkins email

[2021-03-04 16:11] ACharbonneau commented on #207
We now have basic instructions here: https://github.com/nih-cfde/published-documentation/wiki/Onboarding-to-the-CFDE-Portal-Submission-System

@jeremywalter  We still need:

-[ ]  some kind of tracking system that is better than my [associated github issue](https://github.com/nih-cfde/training-and-engagement/issues/345)
-[ ] an updated process document for the onboarding team to follow when adding

[2021-03-04 16:13] ACharbonneau commented on #258
@nih-cfde/training Can't remember if this was in my list, but I'd like a tiny tutorial for this in the style of https://github.com/nih-cfde/published-documentation/wiki/How-to-approve-your-datapackage

[2021-03-04 16:14] #272 closed, assigned to nobody

[2021-03-04 16:15] ACharbonneau commented on #272
I think this doesn't make sense anymore. There is a dry run feature that might do enough.

might also consider giving people submission rights to the test group if they're having problems?

[2021-03-04 16:20] abradyIGS commented on #256
there's a minimal valid submission [here](https://osf.io/uadny/).

am working now on a more complicated one; will return with a link when ready.

[2021-03-04 17:45] s-canchi commented on #258
I will work on this later today.

[2021-03-05 18:57] s-canchi opened #346 "Reconfiguring manifest for increased usability"
Post portal testing observations were made regards to the discrepancy in output format of the exported manifests compared to the table view in the portal. This issue will involve discussion and resolution of ideal columns that should be included in the manifest for each of the faceted search in the portal.

Related #326 https://github.com/dib-lab/cfde/issues/354

[2021-03-05 19:01] marisalim commented on #326
have made issues for the things listed in https://github.com/nih-cfde/training-and-engagement/issues/326#issuecomment-790006014

closing this issue now!

[2021-03-05 19:01] #326 closed, assigned to marisalim

[2021-03-08 18:28] jeremywalter commented on #207
@ACharbonneau asking because I don't want to duplicate work: I can make a .md tracker grid in the github issue, or a google sheet to link to... atm I'm leaning towards the issue

[2021-03-08 21:04] ACharbonneau commented on #207
so...we need to do on and off boarding for these indefinitely. Having it in an issue is terrible. It is like this because I have not had time. I'm asking you to create a good onboarding for this system, not a random transient thing.

[2021-03-08 23:04] jeremywalter commented on #345
Removed Erin Friday from HMP Reviewers.
Added Sherry Jenkins to LINCS Reviewers.

[2021-03-09 18:12] ACharbonneau commented on #207
Since this was proximately completed, I'm closing so we can close the epic and moving the new tasks to a new issue.

[2021-03-09 18:12] #207 closed, assigned to lliming, jeremywalter

[2021-03-09 18:13] ACharbonneau opened #347 "Onboarding system for Submission"
We now have basic instructions here: https://github.com/nih-cfde/published-documentation/wiki/Onboarding-to-the-CFDE-Portal-Submission-System

@jeremywalter  We still need:

- [ ]  A submission system [associated github issue](https://github.com/nih-cfde/training-and-engagement/issues/345)
- [ ] an updated process document for the onboarding team to follow when adding/removing people [original ver

[2021-03-09 18:35] jeremywalter commented on #347
Form for entering onboarding info:
https://forms.gle/cXxSVKT2epGr4otZ9
Form spreadsheet (restricted) - Amanda/Jeremy
https://docs.google.com/spreadsheets/d/1UpVcIdM5B-vrK_P3VWkNGGS2IQLJCDT2_DoKNht7AuM/edit?usp=sharing  <-- all submission tracking is happening here for now

[2021-03-09 18:39] josesanchez1815 commented on #347
Thanks Jeremy!
________________________________
From: Jeremy Walter <notifications@github.com>
Sent: Tuesday, March 9, 2021 10:36 AM
To: nih-cfde/training-and-engagement <training-and-engagement@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nih-cfde/training-and-engagement] Onboarding system for Submission (#347)

Form for entering onboarding info:
https://forms.

[2021-03-09 19:25] ACharbonneau opened #348 "Create in depth tutorial for use of dashboard"
This will need to be done once the new dashboard is pushed to staging.

It should include how to interact with your dashboard and profile page. Very similar to our existing KF portal tutorial.

@nih-cfde/training should plan time to work on this and have it ready to push out in the appropriate release. Probably May.

[2021-03-09 19:30] ACharbonneau opened #349 "privacy policy"
Help develop the privacy policy for the personalized portal and review with DCCs

[2021-03-09 19:34] ACharbonneau commented on #347
The PM or PI fills out the form for everyone on their team. I don't want people signing themselves up as authorized

[2021-03-09 19:35] ACharbonneau commented on #347
I think you should probably talk to @kloydrti about rolling this in as another type of onboarding in the private site so that we can restrict who can do it

[2021-03-09 20:21] jeremywalter commented on #347
The reason I made the form (for better or worse) is for us to enter the info for tracking. Potentially PIs could be asked to fill it in (been thinking about this) but the responses would ultimately be vetted by admins who can see the results OR the admins would use the form themselves.  I'm trying to make something easier for tracking and managing than markdown tables. I found that I can manipulat

[2021-03-09 21:01] ACharbonneau commented on #347
but we already have restricted access onboarding set up in the website, so it seems like it would be easier on everyone if they only had one onboarding form

[2021-03-09 21:07] jeremywalter commented on #347
https://github.com/nih-cfde/private-website-content/issues/6

[2021-03-09 21:34] s-canchi commented on #346
From Mike D'Arcy about the columns starting with **R** in the manifest:

The following columns are internal "default" metadata included in every Deriva table:

**RID**: This is the internal **Record ID**, which could be thought of as a "primary key".
**RCT**: This is a timestamp representing the **Record Creation Time**.
**RMT**: This is a timestamp representing the **Record Modified Time**.
**RCB

[2021-03-09 22:20] s-canchi commented on #346
Manifest requirements for **Collection** facet:

#### Ideal order of column headers for manifest from **Collection** facet. Note that * next to the name indicate columns that already exist in the current downloaded manifest.

Our notes | ID Namespace Name | ID Namespace * | Persistent ID * | Name * | Description * | Data Type | File Format | Assay type | Anatomy | Taxonomy | Granularity | Creation

[2021-03-10 00:14] s-canchi commented on #346
Manifest requirements for **File** facet:

#### Ideal order of column headers for manifest from **File** facet. Note that * next to the name indicate columns that already exist in the current downloaded manifest.

| ID Namespace Name | ID Namespace * | Persistent ID * | Local ID of the project * | Name of the project  | Data Type * | File Format * | Assay type * | Anatomy | Taxonomy | Granularity

[2021-03-10 04:52] s-canchi commented on #258
The mini tutorial was added: https://github.com/nih-cfde/published-documentation/wiki/How-to-submit-a-datapackage

[2021-03-10 04:52] #258 closed, assigned to nobody

[2021-03-10 16:41] ACharbonneau commented on #258
for this step:
Your DCC needs to be registered in the portal and have the correct permissions set up to be able to submit datapackages. The OnBoarded DCC page in the portal lists all the registered DCCs. Contact the CFDE-CC helpdesk to register your DCC if not on the list.

can they see that page if they aren't onboarded???

[2021-03-10 18:00] s-canchi commented on #258
I can see the page without logging into the portal. Will confirm with the team if that is the general case.

[2021-03-10 18:05] ACharbonneau commented on #258
huh.

[2021-03-10 19:18] kloydrti commented on #347
If you want to allow PIs to fill in a form similar to the onboarding form on nih-cfde.org, I can set that up. The page would be restricted to users who are designated as PIs / PMs. The forms plugin has an integration with Google Sheets, so we could send all of the form submissions to one place (they would also be saved in the WordPress database).

[2021-03-10 19:27] ACharbonneau commented on #347
I think we might just literally need to add 3 checkboxes and a ID collection box to the existing form:

Onboard to submission as:
- [ ] Reviewer
- [ ] Submitter
- [ ] Approver

and

What is the users Globus ID? _______________

[2021-03-10 20:20] kloydrti commented on #347
Are either of these questions required to submit the form? Do they only need to appear on the form for onboarding to "all CFDE sites" (as opposed to just the nih-cfde.org site)?

[2021-03-10 20:36] ACharbonneau commented on #347
just on the "all CFDE sites" form. and not required.

[2021-03-10 20:51] jeremywalter commented on #345
https://github.com/nih-cfde/published-documentation/issues/177#event-4438913895

[2021-03-10 22:40] jeremywalter commented on #347
So for people to onboard for submission they have to go to onboarding and click on 'all CFDE sites'? I think this could be confusing (it confuses me). If I'm trying to get people onboarded for DCC submission it's not the same as onboarding to the CFDE and it's not for 'all CFDE sites'. Shouldn't this be a separate (third?) choice on the onboarding screen? Perhaps I'm missing part of the plot here.

[2021-03-10 23:01] s-canchi commented on #346
Manifest requirement for **Biosample** facet:

User visible table of the Biosample facet in the portal:
![Screen Shot 2021-03-10 at 10 49 27 AM](https://user-images.githubusercontent.com/36385305/110681109-4b15ef80-818e-11eb-8911-bb9b97f6500c.png)

Downloaded manifest for Biosample facet:
![Screen Shot 2021-03-10 at 2 04 00 PM](https://user-images.githubusercontent.com/36385305/110704186-7954f880-

[2021-03-10 23:22] s-canchi commented on #346
Manifest requirement for **Subject** facet:

User visible table of the Biosample facet in the portal:
![Screen Shot 2021-03-10 at 3 05 19 PM](https://user-images.githubusercontent.com/36385305/110710040-08660e80-81b2-11eb-9475-6ac45cd18bdd.png)

Downloaded manifest for Biosample facet:
![Screen Shot 2021-03-10 at 3 08 14 PM](https://user-images.githubusercontent.com/36385305/110710285-73174a00-81b

[2021-03-10 23:41] s-canchi commented on #346
Manifest requirement for **Project** facet:

User visible table of the Biosample facet in the portal:
![Screen Shot 2021-03-10 at 3 23 35 PM](https://user-images.githubusercontent.com/36385305/110711545-96db8f80-81b4-11eb-9cad-994dbcde84a4.png)

Downloaded manifest for Biosample facet:
![Screen Shot 2021-03-10 at 3 26 16 PM](https://user-images.githubusercontent.com/36385305/110711780-f76acc80-81b

[2021-03-11 06:59] ACharbonneau commented on #347
You might have a point. Maybe it should be a separate onboarding function from all the sites.

[2021-03-11 07:00] ACharbonneau commented on #347
It should still be in the private site and have those options, but it's own form

[2021-03-11 12:42] ACharbonneau commented on #347
The real question is whether you need to be regular onboarded to do a submission to the portal. And you do not. DCCs can add data without being funded. So we should have formed in the website for: regular onboarding, submission system onboarding, and just the private site onboarding

[2021-03-11 18:28] ACharbonneau commented on #347
documentation to include in onboarding docs https://github.com/nih-cfde/security/issues/15

[2021-03-12 00:31] s-canchi opened #350 "Update Conda tutorial based on workshop experience"
We can enhance our current conda lesson based on the pilot workshops.
As @jeremywalter pointed out, the Step 2 in our current conda lesson does not provide enough context and should be rectified. We can add some thing like : `Let’s check our installation to make sure it went smoothly. We can do this by verifying the digital fingerprint or ‘hash’ of the files we just installed.` to this step for cl

[2021-03-16 22:12] s-canchi opened #352 "Update RNAseq tutorial"
- [x] In the Cavatica-view.. lesson, in Step 2, there is an error in total files as it mentions 98 but should be 99.
- [x] In the setup DESeq2 app, the GTF file should be v27 gencode and linked to the GitHub page for the KFDRC rnaseq pipeline that shows the suggested inputs.
- [x] Update the vidlet for Obtaining reference gene annotation
- [x] Update vidlets and analysis reports in the Analysis wi

[2021-03-17 14:01] ACharbonneau opened #354 "Create a Data Policy"
Proposal

- 'Rejected' datapackages are automatically deleted after 10 days

[2021-03-17 17:19] josesanchez1815 commented on #344
I'm not sure if this issue is the proper place to put this, but I just wanted to share my interest in this particular set up. So I recently went to the [DISCORD support page](https://support.discord.com/hc/en-us) and like how the information is organized. We may not be able to do this anytime soon (I'm not sure how long something like this would take), but I think this would be really cool for our

[2021-03-17 17:24] josesanchez1815 commented on #344
Or at the very least maybe we can create a support tab and in that support tab we can create a place for people to submit their issues to the proper jira help desk.

CFDE Portal Website could benefit from a support page too! It may help us reduce issues like people responding to the wrong jira address.

[2021-03-17 17:34] s-canchi commented on #344
These are some good points @josesanchez1815 ! There is a way to add categories in the CFDE helpdesk portal and we had experimented with those. However, I remember that we decided to shift the category burden to the helpdesk and not to the user. So for now we have only one form for users to submit tickets but we triage and categorize it internally. if you notice our helpdesk has multiple queues of

[2021-03-17 18:12] josesanchez1815 commented on #344
I see. I do remember us talking about shifting the category burden to the help desk. Thanks Saranya.

[2021-03-19 18:30] marisalim commented on #350
this will include update on our macOS conda install lesson + adding material based on intro to conda workshop

[2021-03-22 15:07] abradyIGS commented on #256
there's now a more complicated valid submission sample at the same OSF link as the one i gave in the previous comment. if you agree this suffices, please review & close.

[2021-03-22 15:29] #256 closed, assigned to ACharbonneau, abradyIGS

[2021-03-22 17:27] marisalim commented on #256
Hi @abradyIGS! just wanted to check - I noticed that the files you added are private. Is that intentional or can I make them public?

[2021-03-22 17:48] josesanchez1815 commented on #338
I have uploaded Use Case 1 and Use Case 6 here https://github.com/nih-cfde/selenium-test-case

[2021-03-22 18:16] abradyIGS commented on #256
ack, that was ignorance on my part of the default access settings. everything i posted should be public; i flipped two just now and think i've fixed the permissions everywhere they were incorrectly private, but if any remain, feel free to just flip them to public. thanks for the catch!

[2021-03-22 18:35] marisalim commented on #256
no worries, thanks @abradyIGS it all looks good now!

[2021-03-25 20:18] marisalim commented on #344
discussed today --

- [x] move CFDE Internal (except style guide) to nih-cfde website. This is the basic theme the nih-cfde website uses if you'd like to see the possible page layouts: https://aardvark.ghostpool.com/elearn/ --> lives here now https://www.nih-cfde.org/resource/overview/
- [x] have style guide not render on the website - will happen on #356
- [ ] make a tab for CF tools and move KF/

[2021-03-25 20:21] marisalim opened #359 "add workshop FAQs"
add to the [Discussions section](https://github.com/nih-cfde/training-and-engagement/discussions) of this repo

- from Conda workshops: https://hackmd.io/RweX2WZ7RGGtfLfCDuEubQ

[2021-03-25 21:36] marisalim commented on #344
Ideas on new navbar names?

Currently we have:

Home | Bioinformatics Skills | Cheat Sheets | Web Development | CFDE Internal Training | Release Notes
 --- | --- |  --- |    --- |    --- |    --- |

Considering for reorg - topics, but these names are maybe too long:

Home |  General Tools | Cloud Platforms  | Bioinformatic Analyses | Common Fund Tools  |  Release Notes
 --- | --- |  --- |    --- |

[2021-03-25 22:01] s-canchi commented on #344
I like the new headers! All the headers are to the point. I would only shorten the cloud computing one:

Cloud computing & workflows --> cloud computing

Would it be weird to retain the web development tab ?

[2021-03-25 22:12] s-canchi commented on #359
All conda workshop questions have been added.

[2021-03-25 22:14] s-canchi opened #374 "Update CFDE Portal tutorial"
The CFDE Portal will be publicly launched end of March 2021. The CFDE Portal tutorial on the website used the older version of the data. The lesson along with the videos and screenshots have to be updated to match the latest data and UX of the portal. Timelines:

- CFDE Pop up demo on April 14th
- Website Release in May 2021.

(update: these lessons have a lesson in development banner as of the Ju

[2021-03-25 22:15] marisalim commented on #344
i guess we could, but we aren't actively adding to it, so seems to be taking up navbar real estate 😅

[2021-03-25 22:49] josesanchez1815 commented on #344
Yeah I think the web development tab is not so necessary. But that's my opinion.

I would even take out the cheat sheets tab and include them in their respective tutorial web pages.

[2021-03-29 16:54] josesanchez1815 opened #391 "Installing Sematext Agent for Uptime Monitoring"
I am trying to install this application called [Sematext](https://sematext.com/)  into our training website

https://training.nih-cfde.org/

and I'm trying to follow their quick start instructions. But I run into this error and I am not sure what it means. Can anyone else help? @ctb @ACharbonneau

These are the instructions

This is the error I get

--2021-03-29 09:39:57--  https://pub-repo.semate

[2021-03-29 16:57] josesanchez1815 commented on #391
There is an option to connect without checking the issue certificate, but I am not sure it is safe to do so.

[2021-03-29 19:44] josesanchez1815 commented on #391
Actually, I fixed this issue. I was using the wrong sematext application

[2021-03-30 00:18] marisalim commented on #359
AWS Q&As were added. closing issue, continue adding Q&As to the Discussion board as the come up!

[2021-03-30 00:18] #359 closed, assigned to nobody

[2021-03-30 00:28] marisalim commented on #344
new suggestions on https://github.com/nih-cfde/training-and-engagement/issues/344#issuecomment-807536563

[2021-03-31 07:50] ACharbonneau opened #392 "DEseq2 corrections"
This isn't true. The shrinkage parameter changes both the number and identities of DE genes. Being able to substantially change the results by shrinking the LFC is pretty much the only reason to use DEseq2 instead of another DE algorithm.

[2021-03-31 21:36] ACharbonneau commented on #345
We're still on boarding as needed, but have a workflow, tracking system, and wiki page so closing

[2021-03-31 21:36] #345 closed, assigned to ACharbonneau, jeremywalter

[2021-04-01 19:51] marisalim commented on #344
order: home, CF tools, cloud, bioinf analysis, gen tools, release notes

link multiple lessons - i.e. GWAS in the cloud could go in bioinf analysis and cloud

[2021-04-09 21:47] jeremywalter commented on #231
The new registration system does not have RSVP capability since we moved to an Outlook based invitation system.

[2021-04-09 21:47] #231 closed, assigned to jeremywalter

[2021-04-09 21:48] #277 closed, assigned to jeremywalter

[2021-04-09 21:48] #284 closed, assigned to jeremywalter

[2021-04-09 21:48] #313 closed, assigned to jeremywalter

[2021-04-09 21:48] #312 closed, assigned to jeremywalter

[2021-04-09 21:49] #300 closed, assigned to jeremywalter

[2021-04-09 22:36] jeremywalter opened #400 "Cross-Pollination Meeting 7"

[2021-04-10 00:48] #344 closed, assigned to nobody

[2021-04-14 20:17] marisalim opened #401 "home page updates"
- [ ] reminder to add the new workshops to home page from April/May

[2021-04-23 16:28] marisalim commented on #401
- [ ] reminder - after the next release, the navbar reorg is going to result in broken links from i.e. workshop note links to AWS (which will be moved from "Bioinformatic Skills" to "Cloud Platforms"). make sure this is highlighted in release notes, could also be noted on home page?

[2021-04-23 18:35] josesanchez1815 commented on #401
I think we may want to consider change the wording in this post in future web updates. When I first read this list, I get the impression that the workshops are supposed to be upcoming workshops and not workshops we have done in the past.  A simple rewording like "Check out these materials from past workshops!" or "Did you miss any of our past workshops? Check out the materials here!"
![image](http

[2021-04-23 18:47] s-canchi commented on #401
Thats a good point @josesanchez1815. Hopefully replacing this section with the calendar might help avoid these issues.

[2021-04-23 19:25] marisalim opened #412 "lesson in development banners"
for landing pages use `>` quotes; for lesson landing pgs + lesson pgs use css banner syntax:
[code]
lessons that need banner:

- [x] intro to terra
- [x] intro to gcp
- [x] gwas in cloud
- [x] rnaseq in cloud
- [x] sim seq reads
- [x] make a note of the new syntax in style guide #286

[2021-05-10 22:53] #350 closed, assigned to marisalim

[2021-05-21 21:01] marisalim commented on #412
@s-canchi should we add a similar type of banner for the portal lesson?

[2021-05-24 20:44] marisalim opened #444 "RNA-Seq naming convention"
Harmonize RNA sequencing naming convention to "RNA-Seq" on training website (currently appears as both "RNAseq" and "RNA-seq" - primarily in the KF and RNA-Seq on Cavatica lessons)

[2021-05-24 20:50] jeremywalter commented on #444
I think I've updated most of the event listing. Note: they are still about KF and Cavatica so the blurbs still need updating.

[2021-05-28 18:04] #401 closed, assigned to marisalim

[2021-06-16 22:07] marisalim opened #454 "Update past workshops"
reminder to add June workshops + links to notes to home page
(currently, workshops have been added through May events on `dev` branch)

[2021-06-23 17:31] ctb opened #455 "update nih-cfde.org with support e-mail address"
We should make sure that `support@cfde.atlassian.net` is more clearly present on both nih-cfde.org and app.nih-cfde.org.

[2021-06-25 16:29] #330 closed, assigned to marisalim

[2021-06-25 16:29] #343 closed, assigned to marisalim

[2021-06-25 17:32] #454 closed, assigned to nobody

[2021-06-25 17:42] #412 closed, assigned to marisalim, s-canchi

[2021-06-29 17:04] s-canchi opened #460 "Cavatica settings update to RNA-Seq lesson"
Recent changes in Cavatica are such that the network access are set to default OFF for a project. To enable download of packages via internet, it is important to turn it ON. Here is the relevant article: https://docs.cavatica.org/docs/modify-project-settings#network-access

If not, one would run into error in the DataCruncher scripts (courtesy David Higgins)

[code]

Add a admonition box or make a

[2021-07-06 23:52] marisalim commented on #352
- [x] fix images that aren't rendering, i.e., here: https://github.com/nih-cfde/training-and-engagement/blob/dev/docs/Bioinformatic-Analyses/RNAseq-on-Cavatica/rna_seq_3.md
- [x] also #463

[2021-07-13 23:43] #315 closed, assigned to jeremywalter

[2021-07-13 23:44] #307 closed, assigned to jeremywalter

[2021-07-13 23:51] jeremywalter opened #461 "add training mailing list link to training site"
this could go in the workshop box with a link the training@cfde.atlassian.net for users to request adding to our training mailing list

[2021-07-14 16:29] #391 closed, assigned to nobody

[2021-07-20 12:55] ericwenger-pm opened #463 "Training module screenshots blank for sections"
Hi, can you please check into an issue where screenshots are blank on the training module Web pages at
[https://training.nih-cfde.org/en/latest/Bioinformatic-Analyses/RNAseq-on-Cavatica/rna_seq_7.html](https://training.nih-cfde.org/en/latest/Bioinformatic-Analyses/RNAseq-on-Cavatica/rna_seq_7.html)

Here is one of multiple examples:
![Screen Shot 2021-07-20 at 8 54 24 AM](https://user-images.githu

[2021-07-21 01:05] s-canchi commented on #461
Check out the implementation in the recent PR.: https://cfde-training-and-engagement--464.com.readthedocs.build/en/464/

Can we just add the training mailing list email instead ? This can added as a separate icon on top of the home page. The advantage there would be that the info would be available from any page and not just the home page as it is currently. I don't like the multiple lines of text

[2021-07-21 01:06] s-canchi commented on #460
Added a admonition box highlighting this in recent PR: https://cfde-training-and-engagement--464.com.readthedocs.build/en/464/

[2021-07-21 18:45] s-canchi commented on #392
Can you explain this ? I found this explanation about lfcshrink() from Michael Love:

Relevant posts:
- https://support.bioconductor.org/p/77461/#107693
- https://support.bioconductor.org/p/95695/

I ran the DESeq2 app on the selected dataset with and without the lfcshrink and find 1580 more genes with lfc on and the padj value are slightly more significant with lfcshrink.

[2021-07-22 15:18] ACharbonneau commented on #392
The quote is about a technical change in where in the code the LFC shrinkage is happening. It used to happen as part of the main call, and now it's a separate function that is called by the main call. Most end users will never, ever, notice the difference, but for a tiny subset of users, having the LFC call be technically freestanding allows you to tinker with the how effect sizes are calculated w